@import '/static/vendor/css/react-input-range.css';
@import '/static/vendor/css/react-input-range-override.css';

.Switch
  display: inline-block;
  cursor pointer
  width 30px
  height 13px
  background #ccc
  border-radius 8px
  position relative
  margin 0
  .Toggle
    border-radius 40px
    width 18px
    height 18px
    background white
    border 1px solid #808080
    position absolute
    top -3px
.HideOOS
  visibility: hidden
.HideOOS:checked + .Switch
  background #101820
  .Toggle
    transform translateX(13px)
