@import '../../layout/main/executables.styl';

.thankyou
  .label
    color label-generic-grey
  .sub-label
    color label-light-grey
  .card
    background-color light-gray-color
    color black
  .value
    color header-dark-grey
  .bt-dashed
    border-top 1px dashed label-light-grey
  a
    cursor pointer
  .img-placehlder-25x15
    width 25px
    height 15px
    background header-dark-grey
    display inline-block

  .pin-map-icon
    width 40px

  .gift-card-icon
    width 25px

  .visa-card-icon
    width 34px

  .share-icon
    width 16px
    height 18px
  
  