@import '../../layout/main/main.styl';


.thankyou
  .col-header
    color header-dark-grey
    font-size font-size-14
    .sub-label-small
      color label-generic-grey
      font-size font-size-8
  .label
    color label-generic-grey
    font-size font-size-12
  .sub-label
    color label-light-grey
    font-size font-size-12
    .card
      background-color #C0C0C0
      color black
  .value
    color header-dark-grey
    font-size font-size-12
  .label-size
    font-size font-size-12
  .bt-dashed
    border-top 1px dashed label-light-grey
  .header
    font-size font-size-15
  a
    cursor pointer
  
  
  