@import '/static/vendor/css/bootstrap.min.css'

@font-face {
  font-family "ProximaNova-Bold";
  src url("/static/vendor/fonts/ProximaNova-Bold.ttf")
}

@font-face {
  font-family "ProximaNova-SBold"
  src url("/static/vendor/fonts/ProximaNova-Sbold.ttf")
}

@font-face {
  font-family "ProximaNova-Light"
  src url("/static/vendor/fonts/ProximaNova-Light.ttf")
}

@font-face {
  font-family "ProximaNova"
  src url("/static/vendor/fonts/ProximaNova-Reg.ttf")
}

@font-face {
  font-family "ProximaNova-Thin"
  src url("/static/vendor/fonts/ProximaNova-Thin.ttf")
}

body{
  font-size: 10px;
}

.main-layout {
  height 100vh
  background #ddd
  font-family ProximaNova
  font-size: 1.6rem;
}

