@import './main.styl';

@import './includes/utils.styl';
@import './includes/base_en.styl';
@import './includes/checkbox.styl';
@import './includes/selectbox.styl';
@import './includes/inputfiled_en.styl';

.test-main-en
  display: block;
