@import './main.styl';

@import './includes/utils_ar.styl';
@import './includes/base_ar.styl';
@import './includes/checkbox_ar.styl';
@import './includes/selectbox_ar.styl';
@import './includes/inputfiled_ar.styl';

.test-main-ar
  display: block;
