
.overlayContainer
  display flex
  position absolute
  height 100%
  width 100%
  z-index 10
  background-color rgba(0,0,0,0.5)
  justify-content center
  align-items center
 

.overlayCard
  display flex
  min-height 300px
  width 450px
  background-color #fff
  justify-content center
  align-items center
  border-radius 5px
  box-shadow 1px 1px 15px 1px #444  
  position relative
