@import './header.styl'

.actionbar-wrapper
  .profile-login, .cart-inn
    margin 0
    padding-right 20px
    .item, .cart-item
      left 0
      right auto
      &:before
        left 8%
        right auto

.search-wrapper .search-btn
  left 4px
  right auto

.megamenu-icon
  left 0
  margin-left 10px

.action-item .wish-list-icon
  margin-left 10px

.profile-part .profile-inn li
  border-right 2px solid transparent
  &:hover
    border-right 2px solid thick-red-arrow
    border-left 0
