@import './header.styl'

.actionbar-wrapper
  .action-item
    &:last-child
      padding-right 15px
  .account-inn
   .account-item
      left -22px
      right auto
      &:before
        left 12%
        right auto
  .cart-inn
    margin 0
    .cart-item
      left -80px
      right auto
      &:before
        left 26%
        right auto
  .wishlist-inn
    margin 0
    .wishlist-item
      left -60px
      right auto
      &:before
        left 20%
        right auto
        

.search-wrapper .search-btn
  left 4px
  right auto

.search-wrapper .search-btn-img
  left 6%
  right auto

.megamenu-icon
  left 0
  margin-left 10px

.profile-part .profile-inn li
  border-right 2px solid transparent
  &:hover
    border-right 2px solid tila-blk
    border-left 0
