@import '../../layout/main/main_ar.styl'

@import './header.styl'

.actionbar-wrapper
  .profile-login, .cart-inn
    .item, .cart-item
      left 0
      right auto
      &:before
        left 8%
        right auto

.search-wrapper .search-btn
  left 4px
  right auto

.megamenu-icon
  left 0
  margin-left 10px
