@import '../../layout/main/main.styl'

.header-container {
  display block
  padding-top 10px
  margin-bottom 10px
  background-color #fff
  box-shadow 0 0 12px 0 rgba(0,0,0,.1)
}
.search-wrapper
  position relative
  .search-input
    height 50px
    width 100%
    background #eee
    border-radius 4px
    outline none
    padding 10px 20px
    font-size 20px
    border none
    &[contenteditable=true]
      color #ccc
      white-space: nowrap;
      overflow: hidden;
      &:empty:before
        content attr(placeholder)
        display block /* For Firefox */
    br
      display:none;
    *
      display:inline;
      white-space:nowrap;

  .search-btn
    position: absolute;
    right: 0;
    top: 0;
    background: #666
    display: block;
    height: 50px;
    padding: 11px 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fff
    border-radius: 4px
    text-transform uppercase

.actionbar-wrapper
  .action-item 
    width 50px
    height 50px
    border-radius 50%
    float left
    box-shadow 0 0 3px 1px
    margin 0 5px
    position relative
    cursor pointer
  
.login-modal
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  border: 1px solid #777;

nav 
  ul
    padding 0
    li
      float left
      margin 10px
      list-style none
      a
        color inherit 
        font-weight 500