@import '../../layout/main/executables.styl'

.header-container
  display block
  // margin-bottom 10px
  box-shadow 0 0 12px 0 rgba(0,0,0,.1)
  .header-container-inn
    background-color white
    position fixed
    width 100%
    z-index 99
    top 0
    &.faded
      background-color rgba(255,255,255, 0.95)

  .profile-part
    .ple-icon
      padding: 10px 20px;
      border-bottom: 1px solid #efeff4
      .icon
        width 40px
        height 40px
        background-color thck-gry-clr
        border-radius 40px
    .profile-inn
      line-height 3
      background-color rgba(187, 210, 241, 0.09)
      li
        border-bottom: 1px solid #efeff4
        border-left 2px solid transparent
        &:hover
          background-color white
          font-weight bold
          border-left 2px solid thick-red-arrow
        a span
          color #000
      .profile-icon
        width 16px
        height 30px
      .support
        span
          width: 20px
          height: 20px
          border-radius: 20px
          border: solid 0.8px #2c2f33
  .header-megamenu
    box-shadow 0 3px 4px 0 rgba(0, 0, 0, 0.09)
    position relative
    margin-top 61px
    .header-megamenu-inn
      box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.09)
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background-size cover
      z-index 1
      background-color rgba(247, 245, 245, 0.8)
      filter blur(3px)
    .header-meganenu-sub
      position relative
      z-index 8
      .submenu-head
        overflow: hidden;
        margin-bottom: 0;
        background: #4a4a4a;
        color: #fff;
        li
          cursor pointer

.search-wrapper
  position relative
  .search-input
    height 40px
    width 100%
    // background #eee
    border-radius 4px
    outline none
    padding 10px 20px
    font-size 16px
    border 0.5px solid border-gray
    // background light-gray-color
    &[contenteditable=true]
      color #ccc
      white-space nowrap
      overflow hidden
      &:empty:before
        content attr(placeholder)
        display block /* For Firefox */
    br
      display:none
    *
      display:inline
      white-space:nowrap

  .search-btn
    position absolute
    right 4px
    width 30px
    top 4px
    border-radius 4px
    display flex
    align-items center
    justify-content center
    background suggest-label-gray
    border 0
    bottom 4px
    .searching-icon
      position absolute
      // right 0
      width 16px
      height 16px
      // top 0

.actionbar-wrapper
  display flex
  justify-content flex-end
  .action-item
    // width 46px
    // height 46px
    // border-radius 50%
    float left
    // box-shadow 0 2px 4px 0 rgba(0,0,0,0.1)
    // margin 0 5px
    position relative
    // padding 0 15px
    // cursor pointer
    // border-right 1px solid border-gray
    &:last-child
      border-right 0
      padding-left 15px

    > span
      padding 0 15px
      border-right 1px solid border-gray

    .cart-count
      right -12px
      top -8px
      background pink-color
      padding 0 4px
      border-radius 4px

  .cart-inn
    .cart-item
      padding: 0;
      box-shadow: 0 0 7px 1px rgba(0,0,0,0.07);
      right: -5%;
      border: 0;
      width: 340px;
      left: auto;
      top: 27px;
      margin: 0;
      &:before
        content ''
        background-color: white;
        height: 15px;
        width: 15px;
        position: absolute;
        right: 7%;
        top: -8px;
        transform: rotate(45deg);
        border: 1px solid border-gray;
        border-bottom: 0;
        border-right: 0;
        border-left: 1px solid border-gray;
        border-top: 1px solid border-gray;

    &:hover .cart-item
      display block

  .profile-login
    .item
      padding: 0;
      box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.07);
      min-width auto
      right -5%
      border 0
      width 230px
      left auto
      top 32px
      // border: 1px solid border-gray;
      &:before
        content ''
        background-color: white;
        height: 15px;
        width: 15px;
        position: absolute;
        right: 7%;
        top: -8px;
        transform: rotate(45deg);
        border: 1px solid border-gray;
        border-bottom: 0;
        border-right: 0;
        border-left: 1px solid border-gray;
        border-top: 1px solid border-gray;

      // .login-details-inn
      //   border: 1px solid border-gray;
      //   padding: 7px 15px;

      .logout-icon, .login-icon
        width 16px
        height 34px

    .profile-edit
      position absolute
      top 25px
      z-index 9
      border-radius 2px
      box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)
      border solid 0.3px lht-bdr
      &:before
        content ''
        position absolute
        width 0
        height 0
        border-left 9px solid transparent
        border-right 9px solid transparent
        border-bottom 12px solid white
        top -10px

  .profile-icon-main
    .profile-icon
      width 16px
      height 20px

  .country-code
    position relative
    img
      width 20px

    .main-toggle-part
      box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)
      top 25px
      z-index 8
      img
        height 15px

.login-reg-modal
  width 760px
  max-height 550px
  padding 10px
  background-color login-bg-gray

.megamenu-wrapper
  overflow hidden
  &.electronics
    .active-menu-item
      border-bottom: 4px solid electronics-color
    ul li
      &:hover
        border-bottom: 4px solid electronics-color
  &.fashion
    .active-menu-item
      border-bottom: 4px solid fashion-color
    ul li
      &:hover
        border-bottom: 4px solid fashion-color
  &.home-living, &.lifestyle
    .active-menu-item
      border-bottom: 4px solid lifestyle-color
    ul li
      &:hover
        border-bottom: 4px solid lifestyle-color
  ul li
    border-bottom: 4px solid transparent
    margin 0 5px
    padding 10px
    &:hover
      div a
        font-weight 600
        text-decoration: none;
    &:active, &:focus
      text-decoration: none;
      color inherit

  .electronics-item.active-menu-item
    border-bottom: 4px solid electronics-color
  .fashion-item.active-menu-item
    border-bottom: 4px solid fashion-color
  .home-living-item.active-menu-item, .lifestyle-item.active-menu-item
    border-bottom: 4px solid lifestyle-color

.megamenu-event-wrapper
  height 500px
  overflow hidden
  position absolute
  left 0
  width 100%

.megamenu-dropdown
  width 100%
  background #fff
  position absolute
  left 0
  z-index 1
  display flex
  &.max-height
    max-height 500px
    overflow hidden
  &.electronics
    .megamenu-sub-drop-down
      >.megamenu-sub-list
        >span a
          color electronics-color
  &.fashion
  .megamenu-sub-drop-down
    >.megamenu-sub-list
      >span a
        color fashion-color
  &.home-living, &.lifestyle
    .megamenu-sub-drop-down
      >.megamenu-sub-list
        >span a
          color lifestyle-color
  .megamenu-sub-drop-down
    display flex
    flex-wrap wrap
    align-content flex-start
    width 80%
    >.megamenu-sub-list
      width 25%
      float left
      min-height 250px
      >span a
        font-size 16px
      .megamenu-sub-child-list
        line-height 1.5
        font-size 12px
        a
          color light-gray-clr
  .top-brands-trending-wrap
    width 20%
    .top-brands-wrap
      height 260px
      width 100%
      .megamenu-sub-list
        width 100%
        img
          width 75px
          height 25px
  .view-all-menu
    position absolute
    bottom 5px
    right 40px
    cursor pointer


nav
  ul
    padding 0
    li
      float left
      margin 10px
      list-style none
      a
        color inherit
        font-weight 500

.action-item
  .wish-list-icon
  .cam-icon
    width 17px
    height 16px

  .cart-icon
    width 16px
    height 20px

.logos-part
  .default-logo
    width 74px
    height 34px

.megamenu-icon
  width 20px
  height 20px
  position relative
  left -10px
  svg
    width 100%
    height 100%

.country-dd
  button
    border 0
  .item
    width 50px
    min-width auto
    &>li>a
      padding 3px 15px

.mini-cart
  height: auto;
