@import '../../layout/main/main.styl';

.cart-container
  .cart-box
    margin-bottom 0;
    border-radius 4px 4px 0 0
    .img
      height 120px
    .quantity-title
      margin 0 8px
      border 0.5px solid thin-gray
      padding 2px 12px

    .minus-disable
      background-color rgba(214, 214, 214, 0.3)

    .plus
    .minus
    .minus-disable
      width-height-radius(26px, 26px, 50%)
      border 0.25px solid generic-gray-color

  .cart-box-btm
    border-radius 0 0 4px 4px
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.04);

  .alrt-message-part
    border-radius: 4px 4px 0 0;
