@import '../../layout/main/executables.styl';

.cart-container
  .cart-box
    margin-bottom 0;
    border-radius 4px 4px 0 0
    .img
      height 120px
    .quantity-title
      margin 0 8px
      border 0.5px solid generic-green-color
      padding 2px 12px
      background-color generic-green-color
      color white

    .minus-disable
      background-color rgba(214, 214, 214, 0.3)

    .plus
    .minus
    .minus-disable
      width-height-radius(26px, 26px, 50%)
      border 0.25px solid generic-gray-color

  .cart-box-btm
    border-radius 0 0 4px 4px
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.04);
    .move-to-wishlist, .cart-remove-icon
      .wish-list-icon, .delete-icon
        width 16px
        height 16px

    .move-to-wishlist
      border-right 1px solid rgba(151,151,151,0.3);

  .alrt-message-part
    border-radius: 4px 4px 0 0;

  .warranty-part
    background-color: rgba(249, 249, 249, 0.8);

  .view-wishlist-main
    .wishlist-img
      display inline-flex
      width-height-radius(24px, 42px, 0)
      img 
        width-height-radius(100%, 100%, 0)
    .view-btn-list
      justify-content flex-end

  .copon-code
    background: url(/static/img/bg-img/arrow-bg.png) no-repeat bottom left;
    h4
      background coupon-bg-lgt-black
      border-top-left-radius 4px
      border-top-right-radius 4px
      .buy-coupon-code
        width 20px
        height 17px

    .apply-coupon
      border 0.5px dashed light-gray-clr
      box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.16)
      .coupon-code
        width-height-radius(24px, 24px, 0)
  .secure-checkout
    width-height-radius(20px, 20px, 0)

  .view-r-wishlist
    margin 20px 20px 0 20px
    border: 0.5px dashed thick-blue;