@import '../../layout/main/executables.styl';

.cart-container
  padding 20px 20px 0 20px
  .cart-container-img
    width: 100%;
    height: 50px;
    img 
      max-width 100%
      max-height 100%

  .card-details-labels
    .card-details-name
      width 90%

    .delete-icon  
      width 14px
      height 14px
  .card-details-name
    width 70%
  .cart-box
    margin-bottom 0;
    border-radius 4px 4px 0 0
    .out-of-stock
      z-index 1
      width 96%
      height 176px
      background: rgba(255, 255, 255, 0.8);
    .card-box-inn-img
      width: 100%;
      height: 130px;
      .img
        max-height 100%
        max-width 100%
    .quantity-title
      margin 0 8px
      border 0.5px solid generic-green-color
      padding 2px 12px
      background-color generic-green-color
      color white

    // .minus-disable
    //   background-color rgba(214, 214, 214, 0.3)

    // .plus
    // .minus
    // .minus-disable
    //   width-height-radius(26px, 26px, 50%)
    //   border 0.25px solid generic-gray-color

  .secure-img
    display: flex;
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    img 
      width 100%

  .cart-box-btm
    border-radius 0 0 4px 4px
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.04);
    .move-to-wishlist, .cart-remove-icon
      .wish-list-icon, .delete-icon
        width 16px
        height 16px

    .move-to-wishlist
      border-right 1px solid rgba(151,151,151,0.3);

  .alrt-message-part
    border-radius: 4px 4px 0 0;

  .warranty-part
    background-color: rgba(249, 249, 249, 0.8);

  .view-wishlist-main
    .wishlist-img
      display inline-flex
      width 24px
      height 42px
      img 
        width 100%
        height 100%
    .view-btn-list
      justify-content flex-end

.mini-cart
  max-height 300px
  overflow-y scroll

.cart-stepper
  .minus-disable
    background-color rgba(214, 214, 214, 0.3)

  .plus
  .minus
  .minus-disable
    width-height-radius(26px, 26px, 50%)
    border 0.25px solid generic-gray-color

  .quantity-title
    margin 0 8px
    border 0.5px solid generic-green-color
    padding 2px 12px
    background-color generic-green-color
    color white

.min-items-list
  &:hover
    .min-delete-icon
      visibility visible 
  .min-delete-icon
    visibility hidden 

.instant-checkout-btn-part
  background gray-light
  border-top 1px solid border-light-gray
  button
    border-bottom-right-radius 20px