// @import '../../layout/main/main.styl';

.blocker-container
  position fixed
  top 0
  bottom 0
  background-color rgba(51, 46, 46, 0.5)
  z-index 1
  left 0
  right 0

  .content
    position absolute
    width 50%
    height 50%
    top 20%
    left 20%
    color white
    // background-color white
