@import '../../../../layout/main/executables.styl';

.four-not-four-main
    background-image radial-gradient(circle at 48% 50%, #d8e1e8, generic-gray-color)
    height 100vh
    width 100%
    .four-not-four-inn
        display flex
        align-items center
        justify-content center
        height 100%
        flex-direction column
        .four-not-four-no
            text-align center
            color light-gray-clr-transparent
            font-size 300px

        .fr-nt-fr-img
            box-shadow 0 0 68px 0 rgba(0, 0, 0, 0.04)
            background-color white
            height 416px
            width 416px
            border-radius 50%
            
            .fr-nt-fr-img-main
                img 
                    width 100%
            .zp-img-main
                width 57px
                left 39%
                top 20px
            
            .pendrive-img-main
                left 25%
                top 11%
                width 29px
            .mixer-img-main
                width 47px
                left 12%
                top 25%
            .makeup-img-main
                width 40px
                left 10%
                top 43%
            .microwave-img-main
                width: 42px
                left: 14%
                bottom: 30%
            .mshutter-dall
                width 42px
                left 25%
                bottom 14%
            .zym-main
                width 46px
                left 44%
                bottom 6%
            .watch-img-main
                width 46px
                right 24%
                bottom 12%
            .shoe-img-main
                width 34px
                right 12%
                bottom 26%
            .sunglass-img-main
                width 46px
                right 9%
                bottom 42%
            .football-img-main
                width 38px
                right 12%
                top 33%
            .applewatch-img-main
                width 42px
                right 21%
                top 18%
            .headphones-img-main
                width 49px
                right 31%
                top 9%
            .laptop-img-main
                width 53px
                left 36%
                top 22%
            .camara-img-main
                width 43px
                left 29%
                top 38%
            .mobile-img-main
                width 24px
                left 34%
                bottom 35%
            .fdress-img-main
                width 42px
                left 45%
                bottom 23%
            .mdress-img-main
                width 42px
                right 27%
                bottom 30%
            .fashion-img-main
                width 42px
                right 28%
                top 41%
            .television-img-main
                width 42px
                right 35%
                top 28%
            .tablet-img-main
                width 46px
                right 42%
                top 46%


        
