.instant-checkout
  background-color #fbfbfb
  box-shadow: 0 0px 1px 0 #d3d3d3;
  position relative
  .instant-check-list-inn
    position relative 
    &:after
      content ''
      position absolute
      background url(/static/img/icons/down-arrow/down-arrow.svg) no-repeat
      height 7px
      width 10px
      right 15px
      top 33%
  .checkout-quat
    background white
    box-shadow 0 0.5px 0.5px rgba(0,0,0,0.5)
    padding: 5px;
    border-radius: 17px;
    height: 17px;
    width: 17px;
    margin-left: 5px;
    color: #45689a;
    
  .instant-btn
    color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width 100%

  .blocker
    position absolute
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;