.instant-checkout
  background-color #fbfbfb
  box-shadow: 0 0px 1px 0 #d3d3d3;
  .checkout-quat
    background white
    box-shadow 0 0.5px 0.5px rgba(0,0,0,0.5)
    padding: 5px;
    border-radius: 17px;
    height: 17px;
    width: 17px;
    margin-left: 5px;
    color: #45689a;
    
  .instant-btn
    color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width 100%