@import '../../../layout/main/executables.styl';

.right-bar
    font-size font-size-14
    .offer
      background-color black
      color white
      border-radius 4px 4px 0 0
    .up-selling
      background-color light-gray-color
      padding 5px 10px
    ul
      li
        margin-bottom px-10
        display flex
        justify-content space-between

  .coupon-code-main
    h4
      background white
      border-top-left-radius 4px
      border-top-right-radius 4px

    .buy-coupon-code
      height 17px
      width 20px
        
    .apply-coupon
      border 0.5px dashed light-gray-clr-transparent

    .applied-coupon
      border 0.5px dashed light-gray-clr-transparent

    .coupon-code
      width 24px
      height 24px
     
  .secure-checkout
    width 20px
    height 20px

  .view-r-wishlist
    margin 15px 20px 0 20px
    border: 0.5px dashed thick-blue;

  .noCoupon
    line-height: 12px;
    margin-left: 5px;

  .applied
   color: generic-green-color;
