@import '../../../layout/main/executables.styl';

.auto-suggestions-wrap
    position: relative;
    .auto-suggestions-list
      position absolute
      z-index 23
      left 0%
      top 100%
      max-height 200px
      overflow auto
      overflow-x hidden
      box-shadow 0 0 5px rgba(0,0,0,0.1)
      transition all 0.5s ease-in
      background white
      border 0
      li
        padding 2px  0
        font-size 12px

  input[type=text]
    background transparent
  .auto-suggestions
    z-index 1
    cursor pointer
    line-height 2.5
    width 200px
    .item
      display block
      border-bottom 0.5px solid border-gray
.delivery-part
  .map-icon
    width 10px
    height 15px
input.delivery-input
  max-width initial
  white-space nowrap
  overflow hidden
  o-text-overflow ellipsis
  text-overflow ellipsis
  display inline-flex
  border-bottom 0 !important
  min-width 60px
  width 10px
  padding 0 !important

input.pdp-border-btm
  border-bottom 1px solid border-gray !important

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  .auto-suggestions-wrap {
    width 90%;
  }

}
