@import '../../../layout/main/executables.styl';

.auto-suggestions-wrap
  position relative
  input[type=text]
    background transparent
  .auto-suggestions
    position absolute
    z-index 1
    cursor pointer
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)
    line-height 2.5
    width 230px

    .item
      display block
      border-bottom 0.5px solid border-gray
  .delete-btn
    width 25px
    height 25px
    border-radius 50%
    background #ccc
    text-align center
    padding 2px
    position absolute
    top 0
    right -5px
    cursor pointer
    display none
  &:hover
      .delete-btn
        display block

.delivery-part
  .map-icon
    width 10px
    height 15px
