@import './geoWidget.styl'
.auto-suggestions-wrap
  .delete-btn
    text-align center
    padding 2px
    position absolute
    top 0
    right 0
    cursor pointer
    display none
  &:hover
      .delete-btn
        display block
