@import '../../../layout/main/executables.styl';

  .ff-t-i
    text-align center
    .e, .h-a-l
      width calc(50% - 6px)
      display inline-block
      padding 17px 35px
      border-radius 2px
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      background-color white
      .title
        font-family ProximaNova-SBold
        color #101820
        margin-bottom 17px
        display block
        text-align left
    .item
      width 100px
      margin 0 auto
      .slider-elips
        width 100%
        white-space nowrap
        overflow hidden
        o-text-overflow ellipsis
        text-overflow ellipsis
        float left
        display inline-block
      img
        width 87px
        height 87px
        margin 0 auto
.l-item
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.04)
  background-color #ffffff
  border-bottom-right-radius 14px

.l-img-container
  width 100%
  height 392px
  overflow hidden
.l-img
  max-height 100%
  max-width 100%
  object-fit contain
  margin 0 auto
  width 100%
  height 100%
.l-title
  overflow hidden
  position relative
  line-height 1.2em
  max-height 2.4em 
  text-align justify
  padding-right 1em
  &:before
    content '...'
    position absolute
    right 12px
    bottom 0
    background white
  &:after
    content ''
    position absolute
    right 12px
    width 1em
    height 1em
    margin-top 0.2em
    background white

.img-icon
  width 23px
  height 26px