.betalogo-container
  position absolute
  .beta-bg
    width 75px
    height 70px
    background radial-gradient(circle at bottom right,transparent 74px,#000 0) bottom right
    background-size 100% 100%
    background-repeat no-repeat
    span 
      color #fff
      transform rotate(-45deg)
      position relative
      display flex
      top -12px
      left -8px
      font-size 12px