.betalogo-container
  position absolute
  .beta-bg
    width: 55px;
    height: 55px;
    background: radial-gradient(circle at bottom right, transparent 55px, #000 0) bottom right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 105;
    padding: 5px 2px;
    span
      color #fff
      transform rotate(-45deg)
      position relative
      display flex
      top -12px
      left -8px
      font-size 12px
