@import './index.styl';

.sliderInner {
    border: 1px solid #fff;
    border-radius: 6px;
    z-index: 9999;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    background-color: #fff;
    width: 440px;
    height: 100vh;
    left: 0;
    overflow auto
}