@import '../../layout/main/executables.styl';

.image-placeholder
  min-height: 436px;
  background: #ccc;
  .img-responsive
    max-height 100%
    max-width 100%

.tickmark-part
  .tickmark-icon
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
    width-height-radius(100px, 100px, 0)

.text-center
  text-align: center;

.forgot-password
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  .reset-link
    background-color: light-card-green;
    border: 1px solid generic-green-color;
    padding: 10px;
    font-size: large;
    display: flex;
    justify-content: space-between;
  .bg-light-gray
    color: dark-gray;
  .invalid-email
    background-color: #ffdacc;
    border: 1px solid thick-red-arrow;
    padding: 10px;
    font-size: large;
.passwordeye
  display flex
  position absolute
  top 13px
  font-size 9px
  color #45689a
  .password-eye-icon
    margin-top -1px
    width 12px
    height 14px
.login-form
  // overflow hidden
  min-height 360px
  // .fp-input
    // margin-bottom 20px
  .termes-label
    color register-policy-gray
  .sign-in-btn
    background tila-blk
    width 100%
    color white
    border 0
    height 40px
    border-bottom-right-radius 16px
    &:focus
      outline none

  .login-social-icon
    clear both
    .bg-social-icon
      width 58px
      height 58px

.email-form
       min-height: 360px
.otp-expire
    color: border-gry-color;

.button-radius
    border-bottom-right-radius: 16px;

.cross-icon
     width: 16px;
     height: 16px;

    
.reset-password
  border: 1px solid white;
  background: white;
  padding: 20px;
  border-radius 10px
  width: 35%
  .light-gray
    color: dark-gray;
    
.verify-email
    background-color: rgba(25, 197, 150, 0.08);
    border: 1px solid #19c596;
    .tickmark-icon
      width 16px
      height 16px

@media screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation : portrait){
  .login-form {
    margin 20px 0 20px 0
    min-height auto

    .login-social-icon .bg-social-icon {
      width 45px
      height 45px
    }

    .social-icons {
      padding-top 10px
      justify-content center
    }
  }

  .sign-in-btn {
    font-size 16px
  }


}
