@import './login.styl'

.login-form
  .passwordeye
    right 20px
    top 32%
.reset_show
  .passwordeye
    right 0
    top 15px
.signup-show
  .passwordeye
    right 5px
    top 35%
.login-show
  .passwordeye
    right 5px
    top 33%

.or-tag
  @extend .or-tag-base
  transform translate(50%, -50%)

.ml-37P
  margin-left 37%
