@import './login.styl'

.login-form
  .passwordeye
    right 20px
    top 32%
.reset_show
  .passwordeye
    right 0
    top 37px
.signup-show
  .passwordeye
    right 20px
    top 32%
.login-show
  .passwordeye
    right 20px
    top 37%

.or-tag
  @extend .or-tag-base
  transform translate(50%, -50%)
