@import './login.styl'

.fp-input label
    right 0

.login-form
    .passwordeye
        left 17px
.reset_show
    .passwordeye
        left 3px
        top 37px
.signup-show
    .passwordeye
        left 57px
        top 25%
.login-show
    .passwordeye
        left 57px
        top 37%
.or-tag
  @extend .or-tag-base
  transform translate(-50%, -50%)

.ml-37P
  margin-right 37%

