@import '../../../layout/main/executables.styl';

.sidebar-container
  width 100%
  height auto
  background-color white
  box-shadow 0 0 35px 0 rgba(0, 0, 0, 0.06)
.loader-div
  width 20px
  margin-top 7px
  z-index 14
  .loader-styl
    width 40px
    height 40px
    svg
      animation rotate 1.4s linear infinite;
      -webkit-animation rotate 1.4s linear infinite;
      -moz-animation rotate 1.4s linear infinite;
      @keyframes rotate {
        to {
          transform rotate(360deg);
        }
      }

      @-webkit-keyframes rotate {
        to {
          -webkit-transform rotate(360deg);
        }
      }

      @-moz-keyframes rotate {
        to {
          transform rotate(360deg);
        }
      }
 .user-profile
    border-bottom 1px solid cam-border-gray
    cursor pointer
    border-left 5px solid transparent
  &.active
    width 100%
    border-left 5px solid tila-blk
    background light-brdr
  .profile-pic
    display inline-block
   .img-style
    display flex
    align-items center
    height 50px
    width 50px
    background-color label-light-grey
    border-radius 50%
    margin 0 auto
    .prev-img
      border-radius: 50%
      width: 50px
      height: 50px
    .edit-icon
      text-align center
      width 30px
      height 30px
      top 20px
      font-size 9px
  .profile-details
    display inline-block
    .profile-name
      color tila-blk
  .display-pic
    width 50px
    height 50px
    .edit-butn
      position: absolute
      width: 20px
      top: 15px
      margin-left: 10px
 .edit-butn
    position: absolute
    width: 20px
    top: 15px
    margin-left: 10px
 .list-container
   width 100%
   height auto
   border-bottom 1px solid cam-border-gray
   color navy-blue
  .list-items
    width 80%;
    display inline-block
  .list-item-left
    display inline-block
    width 30px
    height 20px
  .list-common
    width 10%
    font-size 12px
    color navy-blue
    border 1px solid cam-border-gray
    border-radius 4px
    height 20px
    margin: 0 10px
    .count-container
      border-radius: 4px;

  .list-items-container
    cursor pointer
    padding: 15px 15px 15px 27px
    border-left 5px solid transparent
    &.active
      display flex
      border-left 5px solid tila-blk
      background light-brdr
      .list-common
        background-color navy-blue
        color white
        border 0
      .list-items
        color tila-blk
