@import '../../../layout/main/executables.styl';

.sidebar-container
  width 100%
  height auto
  background-color white
  box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.06), 0 5px 5px 0 rgba(0, 0, 0, 0.05)

 .user-profile
    border-bottom 1px solid cam-border-gray
    cursor pointer
    border-left 5px solid transparent
  &.active
    width 100%
    border-left 5px solid navy-blue
    background head-gray
  .profile-pic
    display inline-block
   .img-style
    display flex
    align-items center
    height 50px
    width 50px
    background-color label-light-grey
    border-radius 50%
    margin 0 auto
    .prev-img
      border-radius: 50%
      width: 50px
      height: 50px
    .edit-icon
      width 30px
      height 30px
      top 20px
      font-size 9px
      margin 0 auto
  .profile-details
    display inline-block

  input[type=file]
    visibility hidden
    position absolute
    width 50px
    height 50px
  .file-upload
    height 50px
    width 50px
    left 40px
    top 10px
    opacity 0
    border-radius 50%
    margin 0 auto
    position absolute
    .edit-butn
      position: absolute
      width: 20px
      top: 15px
      margin-left: 10px
 .edit-butn
    position: absolute
    width: 20px
    top: 15px
    margin-left: 10px
 .list-container
   width 100%
   height auto
   border-bottom 1px solid cam-border-gray
   color navy-blue
  .list-items
    width 80%;
    display inline-block
  .list-item-left
    display inline-block
    width 26px
    height 18px
  .list-common
    width 10%
    font-size 12px
    color navy-blue
    border 1px solid cam-border-gray
    border-radius 4px
    height 20px
    margin: 0 10px
    .count-container
      border-radius: 4px;

  .list-items-container
    cursor pointer
    padding 15px 20px
    border-left 5px solid transparent
    &.active
      display flex
      border-left 5px solid navy-blue
      background head-gray
      .list-common
        background-color navy-blue
        color white
        border 0
      .list-items
        color navy-blue
