@import '../../../layout/main/main.styl';

.sidebar-container
  width 100%
  height auto
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;

 .user-profile
   width 100%
   height 50px
   border-bottom 1px dotted #5555
   border-left 5px solid #4267b2
   padding 5px
   background #d9e0ef
  .profile-pic
    width 50%
    display inline-block
   .img-style
    height 30px
    width 30px
    background-color #bbb
    border-radius 50%
    margin 0 auto
  .profile-details
    width 50%
    display inline-block

 .list-container
   width 100%
   height auto
   border-bottom 1px dashed #f1f1f1
   color #666
  .list-items-container
    padding 10px
    display flex
    justify-content space-between
  .list-items
    width 68%;
    display inline-block
  .list-item-left
    display inline-block
    width 17px
    height 17px
  .list-common
    width 10%
    display inline-block
    text-align center
    margin: 0 10px
    .count-container
      width: 30px;
      height: 20px;
      border-radius: 4px;
      border: solid 1px #0654ba;
