@import './sidebar.styl'

  .file-upload
    height 50px
    width 50px
    left 40px
    top 10px
    opacity 0
    border-radius 50%
    margin 0 auto
    position absolute
  .loader-div
    margin-left 15px
  .edit-icon
    margin-left 5px