@import './sidebar.styl'
.list-items-container
  border-right 5px solid transparent
  border-left 0
  &.active
    border-right 5px solid #45689a
    border-left 0
    
.file-upload
    height 50px
    width 50px
    right 35px
    top 10px
    opacity 0
    border-radius 50%
    margin 0 auto
    position absolute