@import '../../../layout/main/executables.styl';

.notifications-container
  .notification-inn
    position relative
    &:before
      content ''
      position absolute
      border 0.5px  solid light-border
      height 100%
      left 3%
      z-index -9

    .notification-data
      border-radius 20px
      background-color parrot-color
      padding 5px 20px
      display inline-flex;
