
.img-responsive
  max-height 100%
  max-width 100%

.main-title
  color #f26b6b

.life-style-main
  .life-banner-inn
    height 370px
    .banner-label
      color: #68462d;
      width: 19%;
      top: 25%;
      left: 10%;
      .main-quation
        line-height: 1
        padding-bottom 10px
      .shop-now-white-btn a
        background-color #f26b6b

  .sub-banner
    .sub-banner-title
      .dec
        color #939393
      .title
        color: #f26b6b

  .poular-cat
    .poular-icon
      border-bottom 2px solid transparent
      min-height 120px
      text-align center
      &:hover
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.08)
        border-bottom 2px solid #f26b6b
        .pop-title
          color #f26b6b
      .poular-cat 
        width 46px
        height 50px
      .poular-cat1
        height 50px
        width 47px
      .poular-cat2
        width 30px
        height 50px
      .poular-cat3
        width 39px
        height 50px

  .top-selling-part
    .top-selling-img
      height 260px
      img
        width 100%
        height 100%
  .dec
    color #939393

  .sports-part
    .top-selling-img
      border-bottom 2px solid transparent
      &:hover
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.08)
        border-bottom 2px solid #f26b6b

  .hobby-part
    .hobby-part-inn
      .hobby-part-img
        .hobby-part-img-inn
          height 260px
          display flex
          img
            height 100%
            width 100%
        .bottom-label
          bottom: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

  .popular-part
    .hobby-part-img
      max-height 260px
      border-bottom 2px solid transparent
      display flex
      &:hover
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.08)
        border-bottom 2px solid #f26b6b

      

