@import '../executables.styl';

* { box-sizing:border-box; }

html
  font-size 1vmax
  font-family ProximaNova

body
  font-size 14px
  font-family ProximaNova
  background light-gray-color
  color black

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
    opacity: 1; /* Firefox */
}

// @media (min-width: 1200px){

// }

*{
  scrollbar-color: #8a8a8f transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar
{
	width: 5px;
  height 5px
	background-color: rgb(249, 249, 249);
}

*::-webkit-scrollbar-track
{
/* 	-webkit-box-shadow: inset 0 0 6px #f06292 ; */
/* 	border-radius: 10px; */
	background-color: rgb(249, 249, 249);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

}

*::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 px #8a8a8f;
	background-color: #8a8a8f;

}

button:focus
  outline none

ul li
  list-style none
  // display inline-block

a
  cursor pointer
  color navy-blue
  text-decoration none

a:hover
  text-decoration none

video:focus
  outline none

// heading tags
h1
  font-size font-size-32
h2
  font-size font-size-30
h3
  font-size font-size-24

input[type=text],input[type=password], input[type=email]
  border 0
  // border-bottom 1px solid generic-gray-color !important
  padding px-5 0
  outline none !important
  width 100%
  border-bottom 1px solid light-brdr
  // box-shadow none !important
  border-radius 0 !important
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance none
    margin 0
/* font sizes */
// it will generate fonts from fs-10, fs-12, fs-14, ...., to fs-40.
for i in range(10px, 46px,  2)
  .fs-{i}
    font-size (i)

.fs-13
  font-size 13px
.p-10-20
  padding 10px 20px
.p-10-15
  padding 10px 15px
.p-14-22
  padding 14px 22px

.p-10-22
  padding 10px 22px

.p-10-24
  padding 10px 24px

.p-30-20
  padding 30px 20px

.p-20-40
  padding 20px 40px

.p-10-40
  padding 10px 40px

.p-10-0
  padding 10px 0

.p-0-5
  padding 0px 5px

//height
.ht-100P
  height 100%

.ht-35
  height 35px

.ht-40
  height 40px

.ht-100
  height 100px

.ht-auto
  height auto

.ht-170
  height 170px

.ht-240
  height 240px

.ht-07
  height 7vh
.ht-290
  height 290px

.ht-100per
  height 100%

.ht-80per
  height 80%

.main-layout
  min-height 100vh
  height 100px
  padding-top 108px

.ht-100vh
  height: 100vh

.cl-bth
  clear both

.t-c
  text-align center

.t-l
  text-align left

.align-start
  align-items start

.align-center
  align-items center

.align-end
  align-items flex-end
.justify-around
   justify-content space-around

.justify-between
   justify-content space-between


.justify-center
  justify-content center


.justify-evenly
   justify-content space-evenly

.flex-col
   flex-direction column

.flex-row
   flex-direction row-reverse

.flex-nowrap
   flex-wrap nowrap

//line height part
.align-baseline
  align-items baseline

.lne-ht1
  line-height 1

.lne-ht1_2
  line-height 1.2

.lne-ht2
  line-height 2

//colors
.black-color
  color black

.white-color
  color white

.thick-gry-clr
  color base-font

.thick-red-clr
  color thick-red-arrow

.pink-clr
  color pink-color

.lgt-blue
  color navy-blue

.blue-color
  color #45689A

.dottes-gry-clr
  color dottes-gry-clr

.lgt-black
  color light-black

.offers-label-color
  color offers-label

.thick-blue
  color thick-blue

.light-gray
  color light-gray

.label-light-grey
  color label-light-grey

.register-policy-gray
  color register-policy-gray

.facebook-clr
  color facebook-color

.light-gry-clr
  color light-gray-clr

.thick-red
  color thick-red

.google-clr
 color google-red

.google-bg-clr
  background google-red

.success-green
  color generic-green-color

// .thck-gry-rt-border
//   border-right 1px solid light-brdr

.text-gry 
  color #666666
  
.lgt-gry-clr
  color lgt-gry

.label-gry-clr
  color label-light

.yellow-clr
  color yellow-clr

.twitter-clr
  color twitter-color

.dark-gray
  color dark-gray

//font-weight
.fontW300
  font-family ProximaNova-Light

.fontW700
  font-family ProximaNova

.fontW600
  font-family ProximaNova-SBold

.fontW800
  font-family ProximaNova-Bold

//width list
.width100
  width 100%
.width93
  width 93%

.width85
  width 85%

.width55
  width 55%

.width63
  width 63%
.width60
  width 60%
.width80
  width 80%

.width78
  width 78%

.width75
  width 75%

.width50
  width 50%

.width45
  width 45%

.width42
  width 42%

.width33
  width 33%

.width35
  width 35%
.width30
  width 30%

.width25
  width 25%
.width21
  width 21%

.width20
  width 20%
.width22
  width 22%
.width18
  width 18%

.width15
  width 15%

.width11vw
  width 11vw

.width8vw
  width 8vw

.width70
  width 70%

.border-none
  border none

//border
.border
  border 1px solid light-brdr

.border-t
  border-top 1px solid light-brdr

.border-b
  border-bottom 1px solid light-brdr

.border-r
  border-right 1px solid light-brdr

.border-l
  border-left 1px solid light-brdr

.border-lg
  border 1px solid light-brdr


// .border-lt
//   border-left 1px solid light-brdr

.border-lt-green
  border-left 1px solid generic-green-color

.border-green
  border 1px solid generic-green-color

.thick-border-btm
  border-bottom 1px solid light-brdr

.thick-border-bottom
  border-bottom 4px solid white;

.thick-border-left
  border-left 1px solid light-brdr

// .thin-border-right
//   border-right 1px solid light-brdr

.border-btm-dottes
  border-bottom 1px dotted light-brdr

.bb-dashed
  border-bottom 1px dashed light-brdr

.bg-mauve
  background mauve-light

.bg-light-gray
  background light-gray-color

.bg-gray
  background login-bg-gray

.bg-thick-blue
  background thick-blue

.bg-thick-red-clr
  background thick-red-arrow

.facebook-blue-color
  border 1px solid facebook-color

.facebook-blue-lt-color
  border-left 1px solid facebook-color

.bdr-btm-green-color
  border-bottom 3px solid elct-green-color

.bdr-btm-black-color
  border-bottom 3px solid tila-blk

.text-lgt-gray
  color label-light

//list style
.no-lst
  list-style-type none

.no-list-blt li
  @extends .no-lst

//border-radius
.border-radius2
  border-radius 2px

.border-radius4
  border-radius 4px

.border-bt-left-radius
  border-bottom-left-radius: 12px;

.border-radius12
  border-radius 12px

.border-radius50P
  border-radius 50%

// .border-rt-rb-0
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;

// .border-lt-lb-0
//   border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;

//box-shadow
.default-shadow
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)

//cursor
.pointer
  cursor pointer

//tooltip color
.alrt-message-bg
  background-color thin-yellow

.bg-tila-blk
  background-color tila-blk

.bg-white
  background-color white

.fashion-color
  color fashion-color
//text-uppercase
.text-uppercase
  text-transform uppercase

.text-capitalize
  text-transform capitalize

//postions
.relative
  position relative

.absolute
  position absolute

.fixed
  position fixed

.textColor
    color: ash-color
.black-color
    color tila-blk
.object-scale-down
  object-fit scale-down;

.lable
  background light-gray-color

.cross-strike-red::after
  content: ''
  border-top 1px solid thick-red-arrow
  width 100%
  position absolute
  transform rotateZ(-20deg)
  transform-origin center center
  top 15px
  left -2px
.flip-questionmark
  transform scale(-1, 1)
  z-index 1

.table
  display table

.t-row
  display table-row

.t-cell
  display table-cell

.overall-amount
  border-radius 3px
  border solid 1px yellow-color
  background-color: light-yellow-color

.resize-none
  resize none

.no-h1
  font-size: initial;
  display: inline-block;
  font-family: ProximaNova-SBold;


.checkout-quat
  background white
  box-shadow 0 1px 1px rgba(0,0,0,0.5)
  padding 5px
  border-radius 17px
  height 17px
  width 17px
  margin-left 5px
  color tila-blk
  cursor pointer

.hoverBlueBackground
   background-color light-navy-blue

.notifyBackground
   background-color tila-blk

.help-icon
  width: 15px;
  height: 15px;


.left0
  left 0

.left20pc
  left 20%

.top0
  top 0

.top20pc
  top 20%

.bottom0
  bottom 0

.margin-5
  margin 5px

.overflow-y-auto
  overflow-y auto

.display_none
  display none

.display_inline
  display inline-block


.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
}

.text-blue
  color text-blue

.background-transparant
  background transparant

.outline-none
  outline none

.display-block
  display block

.hideBlock
  display none

.suggest-label-gray
  color suggest-label-gray

.arbic-direction-rev  
  flex-direction row-reverse
  align-items center
  display flex


@media screen and (min-device-width: 1900px) and (max-device-width: 1024px) and (orientation : landscape){
  h1 {
    font-size 22px
  }

}
