@import '../executables.styl';

* { box-sizing:border-box; }

html
  font-size base-font-size
  font-family ProximaNova

body
  font-size base-font-size
  font-family ProximaNova

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
    opacity: 1; /* Firefox */
}

a:hover
  text-decoration none

// heading tags
h1
  font-size font-size-32
h2
  font-size font-size-30
h3 
  font-size font-size-24

input[type=text],input[type=password], input[type=email]
  border 0
  border-bottom 1px solid generic-gray-color !important
  padding px-5 0
  outline none !important
  min-width 200px
  box-shadow none !important
  border-radius 0 !important

/* font sizes */
// it will generate fonts from fs-10, fs-12, fs-14, ...., to fs-40.
for i in range(10px, 40px, 2)
  .fs-{i}
    font-size i 

// it will generate margin from m-5, m-10, m-15, ...., to m-40.
base-px = 14px 
mrgpad(types=margin padding margin-left margin-right margin-top margin-bottom  padding-left padding-right padding-top padding-bottom, n)
  if padding in types
    padding (n/base-px)rem

  else if padding-left in types
    padding-left (n/base-px)rem

  else if padding-right in types
    padding-right (n/base-px)rem

  else if padding-top in types
    padding-top (n/base-px)rem

  else if padding-bottom in types
    padding-bottom (n/base-px)rem

  else if margin-left in types
    margin-left (n/base-px)rem

  else if margin-right in types
    margin-right (n/base-px)rem

  else if margin-top in types
    margin-top (n/base-px)rem

  else if margin-bottom in types
    margin-bottom (n/base-px)rem

  else
    margin (n/base-px)rem

for x in range(0px, 40px, 5)
  .m-{x} 
    mrgpad(margin, x)

  .ml-{x} 
    mrgpad(margin-left, x)

  .mr-{x} 
    mrgpad(margin-right, x)

  .mt-{x} 
    mrgpad(margin-top, x)

  .mb-{x} 
    mrgpad(margin-bottom, x)

  .p-{x} 
    mrgpad(padding, x)

  .pl-{x} 
    mrgpad(padding-left, x)

  .pr-{x} 
    mrgpad(padding-right, x)

  .pt-{x} 
    mrgpad(padding-top, x)

  .pb-{x} 
    mrgpad(padding-bottom, x)

.p-10-20
  padding 10px 20px

.p-14-22
  padding 14px 22px

.p-10-22
  padding 10px 22px

.p-10-24
  padding 10px 24px

.p-30-20
  padding 30px 20px

.pl-14
  padding-left 14px

.p-22
  padding 22px

//height
.ht-100
  height 100px  

//for specific target
body
  background body-color
  color base-font

.main-layout 
  min-height 100vh
  height 100px

.t-rt
  text-align right 
.t-lt
  text-align left
.t-c
  text-align center

//line height part
.lne-ht2
  line-height 2


//colors
.black-color
  color black

.lgt-blue
  color light-blue

.lgt-black
  color light-black

.thick-blue
  color thick-blue

.light-gray
  color light-gray

.light-gry-clr
  color light-gray-clr

.thick-red
  color thick-red

.lgt-gry-clr
  color lgt-gry
  
.thck-gry-rt-border
  border-right 1px solid thck-gry-clr
//font-weight
.fontW300
  font-weight 300
  
.fontW600
  font-weight 600

//width list
.width100
  width 100%

.width63
  width 63%

.width33
  width 33%

//border
.border-t
  border-top 1px solid light-gray

.border-b
  border-bottom 1px solid light-gray

.border-rt
  border-right 1px solid light-gray

.thick-border-btm
  border-bottom 1px solid light-gray-color

.thin-border-right
  border-right 1px solid generic-gray-color

.border-btm-dottes
  border-bottom 1px dotted generic-gray-color
//list style
.no-lst
  list-style-type none

.no-list-blt li
  @extends .no-lst

//border-radius
.border-radius2
  border-radius 2px

//box-shadow
.default-shadow
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)

//cursor
.pointer
  cursor pointer

//tooltip color
.alrt-message-bg
  background-color thin-yellow

.bg-white
  background-color white

//text-uppercase
.text-uppercase
  text-transform uppercase

//postions
.relative
  position relative

.absolute
  position absolute

.done .icon-bg-fill {
    fill: #99CC33
}

.done .icon-fill {
    fill: #fff
}

.payment-active .icon-bg-fill {
    fill: #0654BA;
}

.payment-active .icon-fill {
    fill: #fff
}