@import '../executables.styl';
  
.common-btn-style
    font-weight 600
    padding 10px 20px

.blue-btn
    background-color blue
    color white;
    border-radius 20px;
    border none
    @extends .common-btn-style
    &:hover
        background-color dark-blue
        color @color

.fp-btn
  padding 5px 0
  color white
  border 0
  border-radius 4px

  &.fp-btn-primary
    background-color $btn-color
    // min-width 200px
    padding 10px 15px
    &:hover
      background-color dark-blue
      color @color

  &.fp-btn-large
    min-width 100%
    padding 10px 0

  &.fp-btn-default
    color thick-blue
    font-weight 600
    border 1px solid @thick-blue
    // @extends .common-btn-style
    padding 6px 25px

  &.fp-btn-danger
    background-color danger-color
    padding 10px 24px

  &.fp-btn-sucess
    background-color generic-green-color
    padding 10px 34px


  

   
