@import '../executables.styl';
  
.common-btn-style
    font-weight 600
    padding 10px 20px

.blue-btn
    background-color blue
    color white;
    border-radius 20px;
    border none
    @extends .common-btn-style
    &:hover
        background-color dark-blue
        color @color

.fp-btn
  padding 5px 0
  color white
  border 0
  // border-radius 4px
  &:focus
    outline none

  &.left-radius
    border-bottom-left-radius 14px

  &.right-radius
    border-bottom-right-radius 14px

  &.fp-btn-primary
    background-color tila-blk
    // min-width 200px
    padding 10px 15px
    &:hover
      background-color tila-blk
      color @color
    &:focus
      color white

  &.fp-btn-large
    min-width 100%
    padding 10px 0

  &.fp-btn-x-large
    padding 10px 50px

  &.fp-btn-default
    color tila-blk
    font-weight 600
    border 1px solid tila-blk
    // @extends .common-btn-style
    padding 7px 25px
    background-color white
    
  &.default-small
    padding 10px

  &.small-btn
    padding 6px 20px
  &.mini-btn
    padding 5px 10px

  &.fp-btn-danger
    background-color danger-color
    padding 10px 24px

  &.fp-btn-facebook-blue
    background-color #3C5A99
    padding 10px 15px
    
  &.fp-btn-sucess
    background-color generic-green-color
    padding 10px 20px
    border 1px solid generic-green-color
  
  &.fp-btn-disabled
    background-color #cccccc
    color white
    cursor not-allowed


  

   
