/**
    Custom Input Field

    USAGE:

    <div className={styles['fp-input']}> 
      <input type="text" required />
      <span className={styles['highlight']}></span>
      <span className={styles['bar']}></span>
      <label>Your label</label>
      <span className={styles['error']}>error message</span>
    </div>
**/
@import '../executables.styl';
@import 'inputfiled.styl';

.fp-input label
  left 0

