@import '../executables.styl';

@media screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation : portrait){
  .m-fs-11 {
    font-size 11px
  }

  .m-fs-12 {
    font-size 12px
  }

  .m-fs-14 {
    font-size 14px
  }

  .m-fs-16 {
    font-size 16px
  }

  .m-pad-10 {
    padding 10px !important
  }

  .m-pad-5 {
    padding 5px
  }

  .m-blk {
    display block
  }

  .m-tn-l {
    text-align left
  }

  .m-flx-wrap {
    flex-wrap wrap
  }

  .m-pd-l-0 {
    padding-left 0
  }

  .m-pd-l-10 {
    padding-left 10px
  }

  .m-pd-r-0 {
    padding-right 0
  }

  .m-pd-0 {
    padding 0
  }

  .m-mrgn-r-10 {
    margin-right 10px
  }

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
  .ipad-pl-0 {
    padding-left 0
  }

  .ipad-pl-15 {
    padding-left 15px
  }

  .ipad-tp-5 {
    padding-top 5px
  }

  .ipad-tb-5 {
    padding-bottom 5px
  }

  .bdr-lt {
    border-left 1px solid rgba(151, 151, 151, 0.4)
  }

  .ipad-pr-15 {
    padding-right 15px
  }

  .ipad-fs-14 {
    font-size 14px
  }

  .ipad-fs-20 {
    font-size 20px
  }

  .ipad-p-0 {
    padding 0
  }

  .ipad-pr-0 {
    padding-right 0
  }

  .ipad-br-0 {
    border-right 0 !important
  }

  .ipad-mb-15 {
    margin-bottom 15px
  }

  .ipad-flex-clm {
    flex-direction column
  }

  .ipad-flex-wrp {
    flex-wrap wrap
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
    .footer-social-list-main-inn {
          .footer-sc-img {
            width 100%
            height 100%
          }
        
    }
      
}