@import '../../../../layout/main/executables.styl';

.status-widget
  .gray-line
    border-top 1px solid generic-gray-color
    .point
      background-color generic-gray-color
      height: 10px;
      width: 10px;
      border-radius: 50%;
      position: absolute;
      top: 1px;
      z-index: 2;
      &.active
        background-color generic-green-color
      &.cancelled
        background-color danger-color
      span
        position relative
        top 10px
        left -30px
  .green-line
    height 2px
    background-color generic-green-color;
    top -2px