@import '../../layout/main/main.styl';
@import '/static/vendor/css/rc-calendar.css';

.cam-container
  .bg-color
    background-color #ddd; 
    
.editProfileModal
  .image-block-style
    height 100px
    border 1px solid #555555 

  .dp-flex
    display flex

  .dp-flex>div
    flex: 1

  .gender-select>img
    border 1px solid link-highlight  

  .gender-select>span
    color link-highlight 

  .gender-unselect>img
    border-width 0px  

  .gender-unselect>span
    color base-font  
