.row-paddding
 padding-top 5px

.right-layout-container
  .user-info-container
    border: 1px solid #5555;
    padding: 10px;
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    height auto
    font-size 12px

 .edit-icon
  float right

 .user-data-container
  width 100%
  height 65vh
  border 1px solid #5555
  padding 10px

.personel-data-container
 padding 10px

.common-sub-container
  height 125px
  background-color #fff
  box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
  padding 10px
  font-size 12px
  margin 10px 0px

.sidebar-container
 width 100%
 height auto
 border 1px solid #5555

 .user-profile
  width 100%
  height 50px
  border-bottom-style dotted
  border-bottom-width 1px
  border-bottom-color #5555
  border-left 5px solid #4267b2
  padding 5px
  background #d9e0ef
  .profile-pic
    width 50%
    display inline-block
   .img-style
    height 30px
    width 30px
    background-color #bbb
    border-radius 50%
    margin 0 auto
  .profile-details
   width 50%
   display inline-block

 .list-container
   width 100%
   height auto
   border-width 1px
   border-bottom-style dotted
   border-color #5555
  .list-items-container
   padding 10px
  .list-items
   width 60%;
   font-size 12px
   display inline-block
  .list-common
   width 20%
   display inline-block
   font-size 12px

.switch
 position relative
 display inline-block
 width 45px
 height 20px
 margin 0
 input
  display none
 .slider
  position absolute
  cursor pointer
  top 0
  left 0
  right 0
  bottom 0
  background-color #ccc
  transition .4s
 .slider:before 
   position absolute
   content ""
   height 15px
   width 15px
   left 4px
   bottom 3px
   background-color white
   transition .4s
 input:checked + .slider 
   background-color #2196F3
 input:focus + .slider 
   box-shadow 0 0 1px #2196F3
 input:checked + .slider:before 
  transform translateX(26px)
 .slider
   border-radius 25px
 .slider:before 
   border-radius 50%

.row-space
 height 5px

.col-space
 width 3%

.update-info
 background #e0edff
 height 350px
 paddding 5px



