@import '../../layout/main/executables.styl';

.cam-container
  .bg-color
    background-color #ddd;
.sidebar-position
   position: sticky !important;
  //  width:321px !important;
   top: 108px;

.cam-left-sidebar
  width 24%
