@import '../../../layout/main/executables.styl';

.pagination-prt
  display flex
  justify-content center
  .pagination-list
    li
      &.active
        a
          background: #666
          color: #fff
      a
        position relative
        float left
        padding 6px 12px
        margin-left -1px
        line-height 1.42857143
        color #337ab7
        text-decoration none
        background-color white
        border 1px solid generic-gray-color
        &:hover
          background-color border-color
          border-color generic-gray-color
          color: #337ab7
