.input {
        width: 100%
        border-radius: 4px
        border: 1px solid #f7f5f5
        padding-left: 12px
        margin-bottom: 5px
        background: #f7f5f5
        height: 1.5em
  }
.round
        height 50px
        width 50px
        background-color #f7f5f5
        border-radius 50%
        display inline-block
.Rectangle
        width: 265px
        margin-bottom: 20px
        margin-right: 2px
        height: 276px
        border-radius 4px
        border 1px solid #f7f5f5
        padding-left 12px;
        margin-bottom 5px;
        background #f7f5f5;