/**
 * Variables declartion file.
 */

base-px = 14px

//pixel calulations
px-5 = (5/base-px)rem //0.312rem
px-10 = (10/base-px)rem //0.625rem
px-12 = (12/base-px)rem //0.75rem
px-14 = (14/base-px)rem // 0.875rem
px-15 = (15/base-px)rem // 0.9375rem
px-16 = (16/base-px)rem // 1.143rem
px-18 = (18/base-px)rem //1.125rem
px-20 = (20/base-px)rem //1.25rem
px-24 = (24/base-px)rem //1.5rem
px-25 = (25/base-px)rem //1.5625rem
px-30 = (30/base-px)rem //1.875rem
px-32 = (32/base-px)rem //2rem
px-35 = (35/base-px)rem //2.1875rem
px-40 = (40/base-px)rem //2.5rem

//fonts
//font-16 = 1rem // base no need to use
base-font-size = base-px

font-size-10 = px-10
font-size-12 = px-12
font-size-14 = px-14
font-size-15 = px-15
font-size-16 = px-16
font-size-18 = px-18
font-size-20 = px-20
font-size-24 = px-24
font-size-30 = px-30
font-size-32 = px-32

//colors TODO SF-33
// srp coros
border-gray = #E5E5E5
offers-label = #5e8d00
suggest-label-gray = #c8c7cc
gray-light = #f6f6f6
swich-color = #e0e0e0
swich-bg-color = #f4f1f1
border-light-gray = #EFEFEF;

// pdp varibles
border-gry-color = #939393
border-pink = #e40a80
compare-bg-greay = #ebebeb

border-light-gray = #EFEFEF
thick-red-arrow = #dd1e31
light-red-color = #fcf4f4

pink-color = #e40a80

//footer styles
background-color = #fafbfc
footer-bdr = #e6ebef
drak-gray-clr = #f4f5f6
snapchat-yellow-color = #fffe00

//logn popup variable
login-bg-gray = #f2f2f2

// order popup variable
head-gray = #f9fafd

// cam left part color
cam-border-gray = #efeff5

// cam profile  colors
cam-lgt-gray = #787878

elct-green-color = #19c596
coupon-bg-lgt-black = #3d4351
navy-blue = #45689a
light-border = #c8c6cc
light-navy-blue = #4a72ab
label-light = #8a8a8f
error-color = #f26b6b
dottes-gry-clr = #979797
yellow-color = #ffc600
light-yellow-color = #fffaee
white = #FFF
black = #000
facebook-color = #3b5998
light-card-green = #e9f9f4
thick-card-green = #96e3cd
tick-radio-green = #2ac497
light-black = #4A4A4A
link-text = #3876C8
generic-green-color = #99CC33
generic-gray-color = #ddd
base-font = #666
light-gray-color = #f9f9f9
$btn-color = #1057B7
light-gray = #cccccc
label-light-grey = #C0C0C0
header-dark-grey = #696969
label-generic-grey = #A9A9A9
light-blue = #0d57bc
blue = #0554ba
dark-blue = #084ca2
popup-header = #f0f7ff
parrot-color = #45689a
thick-blue = #45689a
light-gray-clr = #333
dark-gray = #999
lgt-blue =  #d9e0ef
thin-gray = #E6E6E6
thick-red = #FF0000
thin-yellow = #FFFEF3
danger-color = #DF4930
google-red = #ed412d
lht-bdr = #DCDCDC
lgt-gry = #555555
thck-gry-clr = #d8d8d8
twitter-color = #1da1f2
electronics-color = #2ac497
fashion-color = #939393
lifestyle-color = #f26b6b
register-policy-gray = #757575
ash-color = #9b9b9b
border-color = #eeeeee;
listing-border = #cce792;
listing-background-color = #f6ffee;
listing-triangle-color = #c8d4b0
category-border = #cee3fa;
category-triangle = #abc3df;
bank-border = #b6f2e5;
bank-background-color = #e0fdf7;
bank-triangle  = #c3e3dc;
light-green = #417505;
light-gry = #bcbcbc;
light-gray-clr-transparent = rgba(51,51,51,0.25)
bor-light-gry = #dadada;