@import '../../../../layout/main/executables.styl';
@import './override.css';

.img-responsive
  max-height 100%
  max-width 100%

.main-title
  color #f26b6b

.home-style-main
  display block
  .ff-t-i
    text-align center
    .e, .h-a-l
      width calc(50% - 30px)
      display inline-block
      padding 17px 35px
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      background-color: #ffffff;
      margin 7px
      .title {
        font-family: ProximaNova-SBold;
        color: #6f5d5d;
        margin-bottom: 17px;
        display: block;
        text-align: left;
      }
    .item
      width: 100px;
      margin: 0 auto;
      img
        width 87px
        height 87px
        margin 0 auto
  .display-t-i-e, .display-t-i-f, .display-t-i-hl
    width calc(100% - 40px)
    position relative
    margin auto
    margin-top: 5%;
    .title
      color: #41bc98;
      top: -5%;
      position absolute
    .breadcrums
      color: #6f5d5d;
    .d1, .d2
      width 66.66%
      display inline-block
    .d1, .d2, .d3
      position relative
      .shadow::after
        position absolute
        width calc(100% - 10px)
        height 35%
        top 5px
        left 5px
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0));
        content ''
      &>div
        display inline-block
        padding 5px
        position relative
        &>span
          color #fff
          position absolute
          top 10px;
          left 20px;
          z-index 1
          &>span:nth-child(1)
            display block
        .btn
          border-radius 26px 0 26px 0
          background-color #41bc98
          position absolute
          right 5px
          bottom 5px
          color #fff
          font-family: ProximaNova-Thin;
          width: 40%;
          height: 12%;
          padding: 0.8em 1.1em;
          border-radius: 1.5em 0 1.5em 0;
          cursor pointer
          .arrow
            position: absolute;
            width: 10%;
            top: 28%;
            right: 14%;
        .lite
          font-family ProximaNova-Thin
    .d1
      &>div:nth-child(1)
        width 37.5%
      &>div:nth-child(2)
        width 62.5%
        .btn
          width 24%;
    .d2
      &>div:nth-child(2)
        width 37.5%
      &>div:nth-child(1)
        width 62.5%
        .btn
          width 24%;
    .d3
      position absolute
      top 0
      right 0
      width 33.33%
      &>div
        .btn
          height: 6%;
          width: 30%;
  .display-t-i-f
    .title
      color #333333
    .d1, .d2, .d3
      .shadow::after
        content none
      &>div
        &>span
          color #5c5b5b
        .btn
          background-color #5c5b5b
  .display-t-i-hl
    .title
      color #f26b6b
    .d1, .d2, .d3
      &>div
        &>span
          color #fff
        .btn
          background-color #f26b6b

@media screen and (max-width: 1280px) {
  .home-style-main {
    .ff-t-i {
      .e, .h-a-l {
          display block
          width calc(100% - 40px)
          margin auto
      }
    }
  }
}
