@import '../../layout/main/main.styl';
  
.right-bar
    font-size font-size-14
    .offer
      background-color black
      color white
      border-radius 4px 4px 0 0
    .up-selling
      background-color light-gray-color
      padding 5px 10px
    ul
      font-size px-12
      li
        list-style none
        margin-bottom px-5
        span
          float right