@import '../../layout/main/main.styl';
  
.right-bar
    font-size font-size-14
    .offer
      background-color black
      color white
      border-radius 4px 4px 0 0
    .up-selling
      background-color light-gray-color
      padding 5px 10px
    ul
      li
        list-style none
        margin-bottom px-5
        span
          float right

.input
 border none
 border-bottom: 1px dotted #5555;
 box-shadow none
 border-radius 0
 padding-left 0
 margin-bottom 10px
 width 100%
 height 32px
 outline: none           