@import '../../layout/main/executables.styl';

.payment
  background-color body-color
  min-height 100vh

  .sign-part
    width 70%
    input
      width 100%

  .social-icons-list
    position relative

    .sub-title
      position absolute
      right -13px
      border-radius 50%
      top 40%;
      border 1px solid lht-bdr

  small
    font-size font-size-10
    
  .pay-menu
    background-color #f1f1f1
    li
     list-style none
     padding 10px 25px
    .active
      background-color white
      box-shadow -4px 0 8px #ccc

  .right-bar
    font-size font-size-14
    .offer
      background-color black
      color white
      border-radius 4px 4px 0 0
    .up-selling
      background-color light-gray-color
      padding 5px 10px
    ul
      li
        list-style none
        margin-bottom px-5
        span
          float right

  .payment-summary
    .right-bar
      ul h5
        margin-top 0

  .profile
  .map-address
  .payment-icon
    position absolute
    left -20px
    width-height-radius(40px, 40px, 0)
    // & .done
    //     .icon-bg-fill
    //       fill generic-green-color

  .default-logo
    width: 74px;
    height: 34px;