@import '../../layout/main/executables.styl';

.payment
  background-color body-color
  min-height 100vh

  .payment-signup, .delivery-adress-prt, .pay-loyalty-main, .pay-offers-discounts
    padding 15px 35px

  .payment-mode-prt
    padding 0 35px

  .sign-part
    width 70%
    input[type='text']
      width 100%

  .social-icons-list
    position relative

    .sub-title
      position absolute
      right -13px
      border-radius 50%
      top 40%;
      border 1px solid lht-bdr

  small
    font-size font-size-10

  .pay-menu
    background-color #f9f9f9
    li
      list-style none
      padding 15px 7px
      color black
      cursor pointer
    .active
      background-color white
      box-shadow -5px 0 4px 0 rgba(0, 0, 0, 0.06)
      color black-color
    .payment-lists
      .make-paymrnt-icon
        width: 24px;
        height: 17px;
      &.disabled
        opacity: 0.4;
        pointer-events: none;

  .right-bar
    font-size 14px
    .offer
      background-color black
      color white
      border-radius 4px 4px 0 0
    .up-selling
      background-color light-gray-color
      padding 5px 10px
    ul
      li
        list-style none
        margin-bottom px-5
        span
          float right

  .payment-summary
    .right-bar
      ul h5
        margin-top 0

  .profile
  .map-address
  .payment-icon
    position absolute
    left -20px
    width-height-radius(40px, 40px, 0)
    top 15px
    // & .done
    //     .icon-bg-fill
    //       fill generic-green-color

.payment-edit
  height 35px
.default-logo
  width 74px
  height 34px

.saved-card-item
  padding 15px
  border 1px solid #aaa
  overflow hidden
  .hover-show
    display none
  &:hover
    .hover-show
      display initial

.card-label
  width: 95%;
  float: right;

.secure-img
  display: flex;
  padding: 20px 25px;
  box-sizing: border-box;
  width: 100%;
  height: 77px;
  img
    width 100%

.pay-loyalty-main
  .pay-loyalty-inn
    width 65%
    .pay-loyalty
      height: 70px;
      width: 80px;
      border-radius: 8px;
      border: solid 0.8px generic-gray-color;

.pay-offers-discounts
  table
    th
      background-color #f9fbfd
      font-size: 12px
      color base-font
      padding: 5px 5px 5px 20px;
    td
      border-right solid 2px cam-border-gray
      font-size: 12px
      color base-font
      padding: 5px 5px 5px 20px;

  .offers-show-part
    .title
      border-bottom: 1px dashed rgba(44, 47, 51, 0.2)
    .pay-cart-icon
      width: 36px;
      height: 24px;
    .debit-cards-list
      border-bottom: 1px dashed rgba(44, 47, 51, 0.2)
      .or-part
        width 22px
        height 22px
        border-radius 22px
        border 1px solid rgba(44, 47, 51, 0.2)
        bottom: -11px;
        background-color: white;

    .credit-cards-list
      .or-part
        left 49%

.offers-bottom
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.02);

.user-login-name
  border-right 2px solid light-brdr

.netbanking-part
  .pay-loyalty-inn
    .pay-loyalty
      width: 89px
      height: 70px
      border-radius: 7px
      border: solid 0.8px generic-gray-color

.cash-on-dly-points
  .refresh-part
    .refresh-part-inn
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
      border-radius: 4px;
  .refresh-icon
    width 17px
    height 17px
  .captcha-icon-part
    span
      padding 5px
      border 1px dotted generic-gray-color
      border-radius 7px
      margin-right 15px


.captch-inn
  //border-bottom-left-radius: 4px;
  //border-bottom-right-radius: 4px;
  //box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07)
  //border 1px solid tila-blk
  border-right 2px solid #EEEEEE
  .captcha-icon-part span
    border 1px solid light-brdr
    margin 10px
    .captcha-icon
      width 47px
      height 43px

  .cash-tab
    li
      width: 40%;
      font-weight: 600;
      cursor: pointer;
      color: navy-blue;
      border: 1px solid navy-blue;
      padding: 10px;
      text-align: center;
      border-bottom: 0;
      background: white;
      margin-bottom: -1px;
      z-index: 9;
      position: relative;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top: 4px solid navy-blue;

.drop-box-icon
  width: 118px;
  height: 99px;

.error_box-icon
  width: 118px;
  height: 99px;

.success_box-icon
  width: 82px;
  height: 85px;

.img-responsive
  max-width 100%
  max-height 100%

.saved-cards
  .saved-cards-part
    .saved-card-item
      // box-shadow 0 3px 3px 0 rgba(0, 0, 0, 0.07)
      border 1px solid light-brdr
      border-radius 4px
      .card-no
        letter-spacing 2px
      .vault-card
        width 34px
        height 20px
        margin 0 15px
  .pay-btn
    // padding 10px 70px

.saved-cards-part .saved-card-item.card-active
  box-shadow 0 3px 3px 0 rgba(0, 0, 0, 0.07)
  border 1px solid tila-blk

.voucher
  padding 20px 40px

.new-card-btn
  min-width 55%
  padding 7px 15px
  background: #fff
  color #000
  // padding 10px 30px
  // background-color navy-blue


.button-radius
    border-bottom-left-radius 16px

.continue-checkout
    min-height 200px
    display flex
    justify-content space-between
    flex-direction column
    margin-bottom 0 !important


@media screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation : portrait){
  .payment-header {
    display none
  }

  .m-p-l-15 {
    padding-left 15px
  }

  .payment {
    .payment-signup, .delivery-adress-prt, .pay-loyalty-main, .payment-mode-prt, .pay-offers-discounts {
       padding 15px 25px
    }

    .payment-signup {

      .landscape-socail-part {

        .facebook-btn {
          padding 10px 42px
        }

        .google-btn {
          padding 10px 50px
        }

        .regist-btn {
          padding 10px 60px
        }

      }

      .landscape-login-part {
        padding-top 20px

        .sign-part {
          width 100%
        }
      }
    }

    .social-icons-list {
      border-right: 0;
      border-bottom: 1px solid lht-bdr;
      padding-bottom: 20px;

      .sub-title {
        bottom: -13px;
        right: 47%;
        top: auto
      }
    }
  }

  .loyalty-points-inn {
    padding 5px 0
  }

  .pay-loyalty-main .pay-loyalty-inn {
    width 87%
  }

  .m-loyalty-btm {
    display flex
    justify-content space-between
  }

  .offers-bottom {
    .cont-btn {
      margin-right 10px
      padding 10px 15px
      font-size 12px
    }

    .skip-btn {
      padding 10px 15px
      font-size 12px
    }
  }

  .debit-cards-list {
    flex-wrap: wrap

    h4 {
      padding-bottom 0
    }
  }
  .offers-show-part .emi-table {
    overflow scroll
  }

  .payment-mode-inn {
    padding 10px 0 10px 0
    width 100%
    overflow scroll

    .pay-menu {
      padding 0
      display flex
      overflow scroll
      min-width 500px
      max-width 500px
      background none

      li {
        padding 10px

        i {
          display none
        }
      }

      .active {
        border-bottom 2px solid #e40880
        border-right 0
        box-shadow none
      }
    }
  }

  .netbanking-part {
    flex-wrap wrap
  }

  .pay-online {
    padding 0

    .payment-frame {
      overflow scroll
      border 1px solid #ccc
      padding 5px

      iframe {
        width 100% !important
      }
    }
  }

  .cash-on-dly-points .captcha-icon-part {
    span {
      margin-right 5px
    }

    i {
      width 20px !important
      height 20px !important
    }
  }

  .capcha-pay {
    flex-wrap wrap
  }

  .drop-box-icon {
    width 87px
    height 86px
    margin-top 20px
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
  .payment {
    .secure-img {
      height 110px
    }
    .sign-part {
      width 100%
    }
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
  .payment-signup {
    .landscape-socail-part {
      width 40%
    }

    .landscape-login-part {
      width 55%
    }
  }

  .payment  .sign-part {
    width 100%
  }

  .landscape-pr-0 {
    padding-right 0
  }
}

.voucher
  background rgba(187, 210, 241, 0.09)

.paymentBorder
  border 1px solid border-color
  background white
  width 28%
  display flex
  flex-direction column
  border-radius 4px
  padding 10px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.08)

.border-radius
     border-bottom-left-radius 25px;

.sidebar-payment
   position sticky !important
   top 80px

.user-login-name
  border-right 2px solid light-brdr


@media screen and (min-width: 900px) and (max-width: 1200px){
  .captch-inn .captcha-icon-part {
    flex-wrap: wrap;
  }
}
