@import './payment.styl'

.payment .profile, .payment .map-address, .payment .payment-icon
    right -20px

.payment-signup
    .social-icons-list
        border-left 1px solid generic-gray-color
        border-right 0

        .sub-title
            left -13px
            right auto
