@import './payment.styl';

.payment-signup, .delivery-adress-prt, .pay-loyalty-main, .pay-offers-discounts, .payment-mode-prt
  .profile, .map-address, .payment-icon, .payment-icon, .payment-icon
    right -20px