@import '../../layout/main/main.styl';

.payment
  background-color body-color
  min-height 100vh
  .payment-header
    height 60px
    border-bottom: 1px solid #ccc

  .pay-menu
    background-color #f1f1f1
    li
     list-style none
     padding 10px 25px
    .active
      background-color white
      box-shadow 0 0 4px #ccc