@import './uservault.styl';

.vault-container
  .vault-card-header
    .tila-credit-wrap
      border 1px dotted
      padding 10px 20px
      background-color #f9f9f9
      border-radius 6px
      color black
      border-bottom-left-radius 0
      border-top-left-radius 0
    .tila-redeemable-wrap
       border 1px dotted
       padding 10px 20px
       border-radius 6px
       background-color #f9f9f9
       color black
       border-bottom-right-radius 0
       border-top-right-radius 0
       border-right 0
  .vault-card-delete-icon
    left 15px
  .make-default
    padding-right 10px

.card-number
  direction ltr
  text-align right

.margin
  margin-right 50px !important