@import '../../../layout/main/executables.styl';

.vault-container
  .flex-wrap
    flex-wrap wrap

  .vault-card-header
    border-bottom 1px solid light-gray-color
    padding 25px 30px
    i
      font-size 4rem
      color light-gray
    small
      color dark-gray

  .vault-card-item
    background-color #8ce0c7
    color white
    .delete-icon
      svg
        height 20px
        width 20px
        position: absolute;
        top: 10px;
        right: 20px;
  .make-default
    position: absolute;
    bottom: 10px;
    right: 15px;
    background: #fff;
    padding-left: 10px;
    border-radius: 10px 0 0;

  .vault-card-item-new
    padding 20px 10px
    cursor pointer
    background-color white