@import './uservault.styl';

.vault-container
  .vault-card-header
    .tila-credit-wrap
      border: 1px dotted;
      padding: 10px 20px;
      background-color: #f9f9f9;
      color: black;
  .vault-card-delete-icon
    left 15px
  .make-default
    padding-right 10px

.card-number
  direction ltr
  text-align right