@import '../../../layout/main/executables.styl';

.no-vocher-icon
  .no-wishlist-icon-inn
    height 100%
    justify-content center
    align-items center
    padding-top 8%
    flex-direction column
    .no-cards-list-icon
      width 220px
      height 140px
.vault-container

  .valut-card-main
    left 0
    right 0
    box-shadow 0px 8px 6px 2px rgba(0,0,0,0.12)
    max-height: 200px;
    overflow: auto;
    .valut-card-main-inn
      border-bottom 1px dashed border-light-gray

  .flex-wrap
    flex-wrap wrap

  .vault-card-header
    border-bottom 1px solid light-gray-color
    .cards-vocher
      width-height-radius(65px, 55px, 0)
      .card-items-list
        .active
          border-bottom 4px solid yellow-color
          font-weight 600
      .label
        display block
    .tila-credit-wrap    
      .amount-wrap
        display flex
        .currency
          display block
          color #8a8a8f
        .amount
          display block
          line-height 1
  .vault-card-item
    // background-color light-card-green
    color label-light
    position relative
    border 1px solid light-brdr
    .vault-card
      width-height-radius(40px, 20px, 4px)
    .vault-card-delete-icon
      position: absolute;
      background-color white
      width-height-radius(20px, 20px, 50%)
      // right 15px
      i
        width-height-radius(14px, 14px, 0)
  .make-default
    position absolute
    bottom -10px
    right 0
    background light-gray-color
    // padding-left 10px
    border-radius 10px 0 0
    label
      margin-bottom 3px
  .titleRow
    height 60px
    background-color #f9f9f9
    font-weight 600
    line-height 60px
    font-size 16px
    color #000000
    // margin-right -10px
  .bodyRow
    height 75px
    word-wrap break-word
    display flex
    justify-content center
    flex-direction column
    color #000000
  .broad
    width 900px
    height 50px
    margin-top 25px
    .gift-voucher
      display inline
      float right
      position relative
      top -10px
  .vault-card-item-new
    cursor pointer
    background-color white
    .pls-icon
      width-height-radius(15px, 15px, 0)

  .active-card
    // background-color thick-card-green
    color black
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)
    border 1px solid tila-blk
    .make-default
      box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)
  .no-result
    display flex
    justify-content center
    height 500px
    .wallet-img
      width 278px
      height 153px
  .vault-add-card-new
    .credit-debit-card-details
      border-top 1px dashed rgba(151, 151, 151, 0.2)

    .card-list-items
      padding-left 20%
      .bg-card
        width-height-radius(45px, 25px, 4px)

    .fp-add-new-card
      padding 10px 20%
