.acc
  display flex
  flex-direction column
  justify-content flex-start
  height 100px
.acc-head
  display block
.acc-body
  height auto
  transition flex 0.3s linear
  overflow hidden
  flex 1
  &.hide
    flex 0
