@import '../../../../layout/main/main.styl'

.order-issue-wrap
  display block
  .widget-cont
    display block
    width 450px
    height 522px
    padding 0
    position relative
    .widget-head
      height 64px
      background-color popup-header
    .widget-body
      .item-cont
        .img-cont
          width 70.19px
          height 46.45px
          img
            width 100%
            height 100%
    .widget-footer
      height: 95px;
      position: absolute;
      bottom: 0;
      width: 100%;
      button
        height: 50px;
        width: 395px;
        border-radius: 4px;
        background-color: blue;
        color: white;
        text-transform: uppercase;
        &:disabled
          background-color generic-gray-color          
