@import '../../../../layout/main/executables.styl';

.order-issue-wrap
  display block
  .img-cont
    width 70px
    height 45px
    img
      max-width 100%
      max-height 100%
      object-fit scale-down
  .widget-cont
    display block
    width 450px
    height 522px
    padding 0
    position absolute
    .widget-head
      height 64px
      background-color head-gray
    .widget-body
      max-height: 370px;
      overflow-y: auto;
      .item-cont
        color inherit
        .title-cont
          width 77%
    .reasons-item-wrap
      border-bottom 1px solid generic-gray-color
      .title-cont
        width 77%
      .back-btn
        .down-arrow-icon
          width: 18px;
          transform: rotate(90deg);
          height: 20px;
      .reason-cont
        padding-bottom 20px
        .instruction-txt
          color: generic-gray-color
    .widget-footer
      height 95px
      position absolute
      bottom 0
      width 100%
      button
        height 50px
        display block
        width 395px
        color white
        text-transform uppercase
        border-bottom-left-radius 14px
        &:disabled
          background-color suggest-label-gray

  .reason-item-main
    .comment-cont
      textarea
        border 1px solid generic-gray-color

  .cancel-success-inn
    flex-direction column
    .cancel-success-img
      width: 218px;
      height: 195px;
      .img-responsive
        max-width 100%
        max-height 100%
    .cancel-success-label
      width 84%
  .cancel-success-text
    background-color head-gray
.product-sizeContainer
  padding 10px 0 10px 0
  max-height 118px
  box-sizing border-box
  flex-wrap wrap
  .productSize-Button
    border-radius 20px
    margin 5px
    min-width 34px
    min-height 34px
    background-color white
    border 1px solid light-gray
    outline none
    display flex
    padding 5px
    align-items center
    justify-content center
    cursor pointer
  .product-StrikeButton
    border-radius 20px
    margin 5px
    min-width 34px
    min-height 34px
    background-color white
    border 1px solid #BFC0C6
    padding 5px
    display inline-block
    text-align center
    outline none
    background-color #f7f6f6
    position relative
    cursor pointer
    &::after
      content ''
      display block
      border-top 1px solid black
      width 100%
      height 100%
      position absolute
      left 2%
      top 50%
      transform rotateZ(-45deg)
      transform-origin top

.retun-exchange-right
  width 100%
  display flex
  justify-content center

  .retun-btn-part
    width 100%
    border-bottom-right-radius 20px
    &:disabled
     color white
     background-color suggest-label-gray
     border suggest-label-gray 
     

  .comment-cont
    textarea
      outline none
      resize none
      border-style solid
      border-width 0 0 1px 0
      border-color light-border

.retun-sucess-meg
  h4
    .bg-tick-mark-icon
      height 20px
      width 20px

.exchange-items
  .success-msg
    color light-green
  .active-variant
    background-color tila-blk
    color white

.selected-size
  border 1px solid #ececec
  border-radius 4px
  height 40px

.things-to-note
  background-color light-gray-color
  line-height 20px
