@import '../../../layout/main/executables.styl';

.preferenceIcon
  width 90px

.down-icon
  width 12px

.preference-list
  a
    width 100%
    text-decoration none

.preference-save
  padding 5px 25px
  border-bottom-left-radius 14px