@import '../../../layout/main/main.styl';
  
.address-container
  .hide
    display none

  .input
    border none
    border-bottom: 1px solid #f1f1f1
    box-shadow none
    border-radius 0
    padding-left 0
    margin-bottom 10px
    width 100%
    height 32px
    outline: none 
  

  .flex-center
    display flex
    align-items center

  .flex-wrap
    flex-wrap wrap

  .address-card-new
    padding: 20px 10px
    min-height 130px
    cursor pointer
  
  .addr-header
    border-bottom 1px solid #f1f1f1
    padding 25px 30px
    i
      font-size 4rem
      color #ccc
    h1
      font-size 16px
      margin 0
    small 
      color #999
  
  .address-body
    .address-card
      border 1px solid #f1f1f1
      margin-bottom 20px
      border-radius 4px
      color #666
      font-size 11px
      .address-card-head
        border-bottom 1px dashed #f1f1f1
        padding 5px 10px
        input
          display inline
          width 25px
      .address-card-body
        padding 10px
        address
          color #999
          margin-bottom 10px
        .address-card-phone
          margin 0
          font-weight 500
      .address-card-actions
        border-top: 1px solid #f1f1f1
        padding 5px 10px
        cursor pointer

  .addr-new-container
    border-top 2px dashed #f1f1f1
    padding: 10px 25px
    h1
      font-size 16px
      margin-bottom 20px

    .map
      height 200px
      background-color #222
      margin-bottom 20px
      .map-input        
        box-sizing: border-box
        border: 1px solid transparent
        width: 400px
        height: 32px
        margin: 10px
        padding: 0 12px
        border-radius: 3px
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
        font-size: 14px
        outline: none
        text-overflow:  ellipses
            

    .pref-loc
      padding: 10px 0
