@import './address.styl';

.address-card-actions .delete-action
    border-left 1px solid thck-gry-clr
    border-right 0

.address-card-actions .edit-action
    padding-left 0

.common-input-mb
    .padded
        padding-right 30px
