@import '../../layout/main/main_ar.styl'

@import './search.styl'

.filter-panel
  margin-right 0
  position sticky !important
  // float right
  // padding-left 0 !important
  // padding-right 0 !important

.category-sub-list
  .checkbox-material
    input[type="checkbox"]
      margin-left 10px
      margin-right 0
    label::before
      right 0

.search-results .hover-show-date .quick-view .add-to-crt
  border-bottom-right-radius 16px
  border-bottom-left-radius 0

.search-results .hover-show-date .quick-view .buy-now-btn
  border-bottom-right-radius 0
  border-bottom-left-radius 16px
