@import './search.styl'

.items-list-show .search-val-part .sple-check-prt
    border-left 1px solid lht-bdr

.items-list-show
    .search-val-part
        width 45%
    .deliver-to-main
        width 55%
        justify-content flex-end
        align-items center
        .sort-part-inn
            border-left 1px solid light-brdr

.wish-list-part .add-to-compare
    input[type="checkbox"]
        margin-right 8px

