@import '/static/vendor/css/react-input-range.css';
@import '/static/vendor/css/react-input-range-override.css';
@import '../../layout/main/executables.styl';

.filter-panel
  float left
  width 17%
  margin-right 20px
  border 1px solid border-gray
  box-shadow 0 2px 7px 0 rgba(0,0,0,0.03)
  position sticky
  top 65px;
  // ul
  //   padding 0 20px
  li
    list-style none

.search-results
  float left
  width calc(82% - 20px)

  /*.search-results-wrap
    position sticky
    top 61px
    background #f9f9f9
    z-index 7
    box-shadow 0 7px 4px -4px rgba(0,0,0,0.09)*/
  .no-results
    height 400px

  .hover-show-date
    display none
    z-index 9
    background-color white
    left 0
    // bottom -20%
    .quick-view
      // background-color label-light
      // padding 10px 0
      width 88%
      margin 0 auto
      .add-to-crt
        border: 1px solid navy-blue
        border-bottom-left-radius: 16px
        color navy-blue
      .buy-now-btn
        background-color navy-blue
        border-bottom-right-radius 16px
        color white
      a
        // color white
        width 50%
        text-align center
        padding 6px 0
        .cart-list
          width 16px
          height 16px
        // &:first-child
        //   border-right 1px solid white
    .brand-price-details
      padding 0 20px
      .star-raing
        width 17px
        height 16px

    .wish-list-part
      margin 10px 15px
      border-bottom: 1px solid footer-bdr
      padding-bottom: 10px;
      .wish-list
        width 15px
        height 15px

  .items-list-show
    align-items flex-end
    .deliver-to-main
      width 50%
      .delovery-inn
        width 60%
      .sort-part-inn
        width 50%
        label
          width 40%

  .suggested-tags-main
    .suggest-sublist
      span
        padding 5px 14px
        background suggest-label-gray
        border-radius 20px
        margin-left 10px

    .sugest-tag
      border-left 1px solid border-gray

  .delivery-part
    .map-icon
      width 10px
      height 16px

  .applied-tags
    .applied-tags-inn
      background: linear-gradient(to left, gray-light, white)
      border-radius: 15px
      border: 0.5px solid rgba(192, 192, 192, 0.3)
      .title
        padding: 0px 10px
      .close-part
        padding: 2px 10px
        box-sizing: border-box
        border-left: 0.5px solid rgba(192, 192, 192, 0.3)

.product-items
  transform: scale(1)
  transition: all .3s ease
  position relative
  padding 4px
  // height 470px
  .desc-cont
    .prdt-name
      width 100%
  &:hover
    z-index 9
    transform scale(1.1)
    padding 4px
    border-radius 12px
    background-color white
    box-shadow 0 0 34px 0 #c0c0c0
    z-index 11
    position absolute
    .image-div
      border-top-left-radius 12px
      border-top-right-radius 12px
      border-radius 10px
      border solid 1px border-light-gray
    .desc-cont
      display none
    .hover-show-date
      display block


.loader
  position absolute
  bottom 0

.grid-cont .product-items:nth-child(4n) .img-count
  border-right 0

.grid-cont
  // overflow hidden
  position relative
  border 1px solid border-gray
  box-shadow 0 2px 7px 0 rgba(0,0,0,0.03)
  background-color white

  .img-cont
    height 397.36px
    display flex
    align-items center
    justify-content center
    width 100%
    .tag-main
      background url(/static/img/icons/common-icon/tag-icon.svg) no-repeat
      width 22px
      height 22px
      top 20px
      left 20px
      // position absolute
    .offer-tag
      // position: absolute;
      top: 0
      left: 0
      padding: 6px 10px;
      border-bottom-right-radius 26px
      border-top-left-radius 10px
      // .down-arrow
      //   width 0
      //   height 0
      //   border-left 10px solid transparent
      //   border-right 10px solid transparent
      //   // border-top: 10px solid red;
      //   // position absolute
      //   top -16px
      &.green
        background generic-green-color
      &.yellow
        background yellow-color
      &.orange
        background orange
      &.red
        background thick-red-arrow
    .variants-main
      width-height-radius(35px, 35px, 50%)
      bottom 10px
      left 10px
      padding 8px
      position absolute
      background rgba(255, 255, 255, 0.5) url(/static/img/icons/common-icon/variants.svg) no-repeat center
    .fullfill-main
      position absolute
      top 0
      right 0
      padding: 6px 10px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 12px;
      background-color: rgba(216, 216, 216, 0.8);
      &:before
        content ''
        background url(/static/img/icons/common-icon/icon-fullfilled.svg) no-repeat
        width 24px
        height 20px
        position absolute
      span
        color rgba(0, 0, 0, 0.5)
    .image-div
      width 100%
      height 100%
      overflow hidden
      display flex
      justify-content center
      img
        max-height 100%
        max-width 100%
        object-fit scale-down

.category-list
  border-bottom 0.5px solid border-gray
  // padding-bottom 10px

  .category-list-title
    border-bottom 0.5px solid border-gray
    a
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .expand-icon
        width 16px
        height 16px

.category-sub-list
  // padding 10px 0 0 20px

  .main-sub-list > a
    color black
    font-family ProximaNova-Bold
    font-size 12px

.category-sub-list-inn a
  color-fontsize-fontW(black, 12px, ProximaNova-Light)
  &:hover
    font-weight 600

.range-select-part
  display flex
  justify-content space-between
  align-items center

.price-select-list
  width 50%
  border 0
  background transparent
  border-bottom 1px solid light-gray
  border-radius 0
  -webkit-appearance none
  -moz-appearance none
  &:focus
    outline none
