@import './search.styl'

.category-sub-list
  .checkbox-material
    input[type="checkbox"]
      margin-left 10px
      margin-right 0
    label::before
      right 0

.search-results .hover-show-date .quick-view .add-to-crt
  border-bottom-right-radius 16px
  border-bottom-left-radius 0

.search-results .hover-show-date .quick-view .buy-now-btn
  border-bottom-right-radius 0
  border-bottom-left-radius 14px

.search-results .items-list-show .deliver-to-main .sort-part-inn .select-mn .sort-drop-down
  left 0
  right auto
  min-width 200px
  &:before
    left 15px
    right auto