.filter-panel
  float left
  width 20%
  margin-right 20px

.search-results
  float left
  width calc(80% - 20px)

.img-cont 
  width 180px
  height 240px
  .image-div
    width 100%
    height 100%
    background-size contain
    background-repeat no-repeat
    background-position center

.product-item
  width 180px
  height 345px
  margin 0 10px 20px 0
  float left

.meta-info
  font-size 20px
  margin 20px

.loader
  position absolute
  bottom 0

.grid-cont
  overflow hidden
  position relative