@import './product.styl'
.page-details-slider
  .details-right-part
    left 0
    right auto

.recentview-main
  .recent-title
    span
      border-right 4px solid border-pink
      border-left 0

.bottom-slider .copon-code
  border-right 5px solid  border-gry-color
  border-left 0
