@import './product.styl'

.addto-cart-lang
  right 0


.product-details-main .kf-list li::before
  content "\2022"
  color thck-gry-clr
  display inline-block
  width 10px
  font-weight 600
  font-size 20px
  height 0px

.slick
  left: 4%;
  width: 93%;

.thumbnail
  position absolute
  cursor pointer
  left 100%
  top -1vh
  font-size 20px
.backgroundImgMobilePage
  background-image  url("/static/img/bg-img/Mobilebg.png")
  background-size contain
.displayItems
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

.margin
 margin-bottom 30px
.height
  height 100vh
.imagewidth
  width 100%
.normalwidth
  width 50%
.borderCss
  padding 0px
  position fixed
  bottom 0px
.overflow
  overflow hidden
.positionrt
  position relative  



