@import './product.styl'

.page-details-slider
  .details-right-part
    left 0
    right auto

.recentview-main
  .recent-title
    span
      border-right 4px solid tila-blk
      border-left 0

.bottom-slider .copon-code
  border-right 5px solid  border-gry-color
  border-left 0

.modal
  left 0
  right auto

.showModal
  transform translateX(0px)

.hideModal
  transform translateX(-800px)

.addto-cart-lang
  left 0
