@import './product.styl'

.addto-cart-lang
  right 0


.product-details-main .kf-list li::before
  content "\2022"
  color thck-gry-clr
  display inline-block
  width 10px
  font-weight 600
  font-size 20px
  height 0px