@import '/static/vendor/css/slick.min.css';
@import '/static/vendor/css/slick-theme.min.css';
@import '../../layout/main/executables.styl';

.display-item-wrap
  margin-bottom 50px
.carousel-item-wrap 
  height 100px
  width: 100%;
  display: inline-block;
  border: 1px solid light-gray;
  padding: 14px;
  border-radius 4px
  img
    height 100%
    margin 0 auto
.selected-item-wrap
  display block
  height 500px;
  img
    height 100%
    margin 0 auto
.c-group-countainer
  display block
  margin 10px 0
  &:nth-child(even)
    background generic-gray-color

.added-to-cart
  background #20bd99
  color white  

.slick-slide
  width: 128px;
