@import '/static/vendor/css/slick.min.css';
@import '/static/vendor/css/slick-theme.min.css';

.display-item-wrap
  margin-bottom 50px
.carousel-item-wrap 
  height 100px
  img
    height 100%
    margin 0 auto
.selected-item-wrap
  display block
  height 500px;
  img
    height 100%
    margin 0 auto
.c-group-countainer
  display block
  margin 10px 0
  &:nth-child(even)
    background #ddd