@import '../../../layout/main/executables.styl';

.wishlist
  img
    height 120px
  .cart-wishlist-popup
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 20px 0;
    z-index: 2;
    box-shadow: 0 0 60px #aaa;
    width: 100%;
    .item
      border 1px solid light-gray-color
      text-align center
      img
        height 200px
      

.delete-icon-part
  display flex
  justify-content center
  width-height-radius(32px, 32px, 50%)
  float right
  align-items center
  right 0
  top -12px
  background-color light-gray-color
  z-index 9
  cursor pointer

  .delete-icon
    width 12px
