@import '../../../layout/main/executables.styl';

.wishlist
  img
    height 120px
  .cart-wishlist-popup
    position fixed
    left 0
    right 0
    bottom 0
    background white
    padding 20px 0
    z-index 2
    box-shadow 0 0 60px #aaa
    width 100%

    .cart-wishlist-popup-title
      position relative
      .title-label
        z-index 9
        padding 0 20px
      .title-border 
        position absolute
        border 2px solid black
        width 32%


    .item
      border 1px solid light-gray-color
      width 150px !important
      margin-right 20px

      .wish-pop-img
        height 150px

        img
          width 100%
          height 100%
          object-fit scale-down

      .add-cart-btn
        padding 10px 0
        visibility hidden

      &:hover
        box-shadow 0 3px 9px 0 rgba(0, 0, 0, 0.07)
        
        .add-cart-btn
          visibility visible
      

.delete-icon-part
  display flex
  justify-content center
  width-height-radius(32px, 32px, 50%)
  float right
  align-items center
  right 0
  top -12px
  background-color light-gray-color
  z-index 9
  cursor pointer

  .delete-icon
    width 12px


@media screen and (min-device-width: 360px) and (max-device-width: 730px) and (orientation : portrait){

  .wishlist {
    padding-left 0

    .mb-wishlist-part {
      padding 20px 15px

      .mb-wishlist-part-img {
        width 100%
        height 80px

        img {
          max-width 100%
          max-height 100%
          object-fit contain
          height auto
        }
      }
      
      .price-details h4 {
        width 100%
        text-align right
      }
    }
  }

  .wishlist .add-to-btn {
    padding 6px 15px
  }

  .m-p-0 {
    padding 0
  }

  .m-m-0 {
    margin 0
  }

  .m-fs-18 {
    font-size 18px
  }

  .m-fs-14 {
    font-size 14px
  }

  .m-t-0 {
    margin-top 0
  }

  .m-fs-12 {
    font-size 12px
  }
}
