@import '../../layout/main/executables.styl';

.compare-dtls
  background white
  position relative
  padding: 20px;
  .cart-btn
    background-color white
    border-bottom-right-radius 16px
    color navy-blue
    width: 75%;
    height: 40px;
    margin-top: 5px;
    border 1px solid navy-blue
  .added-btn
    background-color white
    border-bottom-right-radius 16px
    color navy-blue
    border 1px solid navy-blue
    width: 55%;
    height: 40px;
    margin-top: 5px;
    .cart-list
      height 20px
      width 20px
      margin-right 5px
  .close-item
    position absolute
    top 6px
    right 12px

.add-icon
  padding 7px 18px
  font-size 30px
  border 4px solid #dddddd
  color #dddddd
  border-radius 50%