* { box-sizing:border-box; }

html
  font-size base-font-size
  font-family ProximaNova

body
  font-size base-font-size
  font-family ProximaNova

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
    opacity: 1; /* Firefox */
}

a:hover
  text-decoration none

// heading tags
h1
  font-size font-size-32
h2
  font-size font-size-30
h3 
  font-size font-size-24

input[type=text],input[type=password], input[type=email]
  border 0
  border-bottom 1px solid generic-gray-color
  padding px-5 0
  outline none !important
  min-width 200px
  box-shadow none !important
  border-radius 0 !important

 a
  cursor pointer 


/* font sizes */


// it will generate fonts from fs-10, fs-12, fs-14, ...., to fs-40.
for i in range(10px, 40px, 2)
  .fs-{i}
    font-size i 
  

// margins 
.m-0 
  margin 0
.mt-0 
  margin-top 0
.mb-0
  margin-bottom 0
.ml-0
  margin-left 0
.mr-0
  margin-right 0
.m-auto
  margin auto

.m-5 
  margin px-5
.mt-5
  margin-top px-5
.mb-5
  margin-bottom px-5
.ml-5
  margin-left px-5
.mr-5
  margin-right px-5 

.m-10 
  margin px-10
.mt-10
  margin-top px-10
.mb-10
  margin-bottom px-10
.ml-10
  margin-left px-10
.mr-10
  margin-right px-10

.m-15 
  margin px-15
.mt-15
  margin-top px-15
.mb-15
  margin-bottom px-15
.ml-15
  margin-left px-15
.mr-15
  margin-right px-15  

.m-20 
  margin px-20
.mt-20
  margin-top px-20
.mb-20
  margin-bottom px-20
.ml-20
  margin-left px-20
.mr-20
  margin-right px-20

.m-32 
  margin px-32
.mt-32
  margin-top px-32
.mb-32
  margin-bottom px-32
.ml-32
  margin-left px-32
.mr-32
  margin-right px-32

// paddings
.p-5 
  padding px-5
.pt-5
  padding-top px-5
.pb-5
  padding-bottom px-5
.pl-5
  padding-left px-5
.pr-5
  padding-right px-5

.p-10 
  padding px-10
.pt-10
  padding-top px-10
.pb-10
  padding-bottom px-10
.pl-10
  padding-left px-10
.pr-10
  padding-right px-10

.p-15
  padding px-15
.pt-15
  padding-top px-15
.pb-15
  padding-bottom px-15
.pl-15
  padding-left px-15
.pr-15
  padding-right px-15

.p-20
  padding px-20
.pt-20
  padding-top px-20
.pb-20
  padding-bottom px-20
.pl-20
  padding-left px-20
.pr-20
  padding-right px-20

.p-24
  padding px-24
.pt-24
  padding-top px-24
.pb-24
  padding-bottom px-24
.pl-24
  padding-left px-24
.pr-24
  padding-right px-24

.p-32
  padding px-32
.pt-32
  padding-top px-32
.pb-32
  padding-bottom px-32
.pl-32
  padding-left px-32
.pr-32
  padding-right px-32

//mostly we use for over rides so keeping at bottom
.p-0 
  padding 0
.pt-0
  padding-top 0
.pb-0
  padding-bottom 0
.pl-0
  padding-left 0
.pr-0
  padding-right 0

.p-10-20
  padding 10px 20px

.p-14-22
  padding 14px 22px

.p-10-22
  padding 10px 22px

.p-10-24
  padding 10px 24px

.pl-14
  padding-left 14px

.p-10
  padding 10px

.p-22
  padding 22px

//height
.ht-100
  height 100px  

.ht-auto
  height auto 

.ht-170
  height 170px 

.ht-290
  height 290px 

//for specific target
body
  background body-color
  color base-font

.main-layout 
  min-height 100vh
  height 100px

.t-rt
  text-align right 
.t-lt
  text-align left
.t-c
  text-align center

//line height part
.lne-ht2
  line-height 2


//colors
.black-color
  color black

.lgt-blue
  color light-blue

.lgt-black
  color light-black

.thick-blue
  color thick-blue

.light-gray
  color light-gray

.light-gry-clr
  color light-gray-clr

.thick-red
  color thick-red
//font-weight
.fontW300
  font-weight 300
  
.fontW600
  font-weight 600

//width list
.width100
  width 100%

.width63
  width 63%

.width33
  width 33%

//border
.border-t
  border-top 1px solid light-gray

.border-b
  border-bottom 1px solid light-gray

.border-rt
  border-right 1px solid light-gray

.thick-border-btm
  border-bottom 1px solid light-gray-color

.bb-dashed
  border-bottom 1px dashed label-light-grey
  margin-left 0

.br-5
  border-radius 5px 

.bg-mauve
  background mauve-light     
//list style
.no-lst
  list-style-type none

.no-list-blt li
  @extends .no-lst

//border-radius
.border-radius2
  border-radius 2px

//box-shadow
.default-shadow
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.11)

//cursor
.pointer
  cursor pointer

//tooltip color
.alrt-message-bg
  background-color thin-yellow
