body
  font-size base-font-size
  font-family ProximaNova

// heading tags
h1
  font-size font-size-32
h2
  font-size font-size-24
h3 
  font-size font-size-18

// margins 
.m-10 
  margin px-10
.m-20 
  margin px-20
.mt-10
  margin-top px-10
.mb-10
  margin-top px-10
.ml-10
  margin-left px-10
.mr-10
  margin-right px-10

// paddings
.p-10 
  padding px-10
.p-20 
  padding px-20
.pt-10
  padding-top px-10
.pb-10
  padding-top px-10
.pl-10
  padding-left px-10
.pr-10
  padding-right px-10


//for specific target
.main-layout 
  min-height 100vh
  height 100px
  background body-color
