store-bgwhite-radius-shadow(bgwhite,radius,shadow)
    background-color bgwhite
    border-radius radius
    box-shadow shadow

color-fontsize-fontW(color,fontsize,fontweight)
    color color
    font-size fontsize
    font-weight fontweight
