.box
  border 1px solid rgba(85,85,85,0.333)
  background-color white
  box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
  padding px-10
  margin-bottom px-14

.middle
  top 50%
  transform translateY(-50%)

.center
  left 50%
  transform translateX(-50%)

.center.middle
  position absolute
  transform translate3d(-50%, -50%, 0)

.link-text
  color link-text


/* font families */

.ff-b
  font-family ProximaNova-Bold

.ff-sb
  font-family ProximaNova-SBold

.ff-l
  font-family ProximaNova-Light

.ff-t
  font-family ProximaNova-Thin

/* font families end */

/* font sizes */
.fs-12
  font-size font-size-12

.fs-30
  font-size font-size-30 
/* font sizes end */

.float-r
  float right

.float-l
  float left

.clear-l
  clear left 

.clear-r
  clear right 

.clear-b
  clear both
