/* @media (min-width: 1350px){
    .container {
        width: 1320px;
    }
} */

@media (min-width: 1440px){
    .container {
        width: 1410px;
    }
}

.slick-slider.sub-slider .slick-slide {
    width: 70px !important;
}

.progress {
    display: flex;
    width: 65%;
    margin-bottom: 0;
    height: 4px;
}

.progress .progress-bar {
    width: 80%;
    line-height: 2px;
}

.progress .progress-bar-danger {
    background-color: #E40A80;
}

.nav-tabs {
    background: rgba(216, 216, 216, 0.1);
    border: 0;
}

.nav-tabs>li.active {
    border-bottom: 4px solid #e40a80;
}

.nav-tabs>li a {
    font-size: 16px;
    color: #666;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    border: 0;
    background-color: transparent;
    outline: none;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
}

.nav-tabs>li.active>a {
    font-weight: 600;
}

.img-responsive {
    max-height: 100%
}
.panel-default {
    border: 0;
}

.panel {
    box-shadow: none;
}

.panel-heading {
    padding: 0;
    border-radius: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.panel-group {
    margin-bottom: 0;
}

#profile-login .caret, #country-dd .caret , #cart-toggle .caret {
    margin-left: 10px;
}

#profile-login, #cart-toggle {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    /* background: transparent; */
}

#cart-toggle {
    padding: 0 20px;
    border-right: 1px solid #e5e5e5;
    border-radius: 0;
}

#cart-toggle .caret {
    display: none;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: transparent;
    box-shadow: none;
}

.btn-default:hover{
    background-color: transparent;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: transparent;
    box-shadow: none;
}