
.img-responsive
  max-height 100%
  max-width 100%

.main-title
  color #f26b6b

.home-two-nammers div:first-child
  padding-right 5px
  padding-left 10px
.home-two-nammers div:last-child
  padding-left 5px
  padding-right 10px

.brand-love-inn
  padding-right 8px

.bredcrums-part
  padding 5px

.home-style-main
  .top-banner-slider
    .item img
      width 100%
  .brand-details-inn
    .img-responsive-in
      width 100%
      height 100%
  .resp-img-link
    display block
    width 100%
    height 100%
    display block
  .ff-t-i
    text-align center
    .e, .h-a-l
      width calc(50% - 30px)
      display inline-block
      padding 0px 35px
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      background-color: #ffffff;
      padding-bottom: 10px;
      margin 7px
      .title {
        font-family: ProximaNova-SBold;
        color: #101820;
        margin-bottom: 17px;
        display: block;
        text-align: left;
        margin: 0px;
        padding-top: 7px;
      }
    .item
      // width: 100px;
      margin: 0 auto;
      padding 5px
      img
        width 100%
        height 100%
        margin 0 auto
  .d_items
    padding 20px
    margin 20px 0
    img
      object-fit scale-down
      max-width 100%
      max-height 100%
    .b_l
      display flex
      height 70px
      background #fff
      align-items center
      justify-content space-between
      padding 0 20px
      border-radius 0 0 4px 4px
      img
        width 80px
        height 30px
      .arrow
        width 15px
    .title
      font-family ProximaNova-SBold
      color black
      display block
      text-align left
      padding 20px 5px
    .timer
      width 11%
      height 28px
      border-radius 12px
      border solid 1px #dddddd
      background-color #ffffff
      display flex
      align-items center
      justify-content space-evenly
      .time
        width 11px
    .d_item
      width 225px
      height 350px
      background #fff
      border-radius 4px 4px 50px 4px
      .image
        height 75%
        img
          object-fit: scale-down;
          max-width: 100%;
          max-height: 100%;
      .t_n_p
        display flex
        flex-direction column
        height 25%
        padding 10px
      .b_n_c
        display none
        flex-direction column
        margin 0 35px
        .buy_now
          border-radius 4px 4px 15px 4px
        .add_to_cart
          color #000000
          border 1px solid #cecece
          border-radius 4px 4px 15px 4px
          margin-top 5px
    .discount
      top 0
      position absolute
      height auto
      background #dd1e31
      color #fff
      padding 6px 10px
      border-radius 0 0 15px 0
    .sold
      color #dd1e31
      top 0
      position absolute
      padding 6px 10px
      height auto

  .display-t-i-e, .display-t-i-f, .display-t-i-hl
    width calc(100% - 40px)
    position relative
    margin auto
    margin-top: 5%;
    .title
      color: #00c7b1;
      top: -5%;
      position absolute
      font-weight 600
      padding 5px
    .bredcrums-part
      color #6f5d5d
      padding 5px
      a
        color: #666;
    .d1, .d2
      width 66.56%
      display inline-block
      &>div
        padding 2px 5px
        // height 324px
    .d3
      &>div
        padding 1px 5px
      .d-sub
        // height 324px
    .d3 .d3-sub
      // height 662px
      img
        object-fit fill
    .d1, .d2, .d3
      position relative
      display inline-flex
      img
        width 100%
        height 100%
        object-fit fill
      .shadow::after
        position absolute
        width calc(100% - 10px)
        height 35%
        top 5px
        left 5px
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0));
        content ''
      &>div
        display inline-block
        // padding 2px 5px
        position relative
        &>span
          color #fff
          position absolute
          top 15px;
          left 25px;
          z-index 1
          font-weight 600
          &>span:nth-child(1)
            display block
        .btn
          border-radius 26px 0 26px 0
          background-color #41bc98
          position absolute
          right 5px
          bottom 5px
          color #fff
          font-family: ProximaNova-Thin;
          width: 36%;
          height: 10%;
          padding: 0.6em 1.1em;
          border-radius: 0 0 1.5em 0;
          cursor pointer
          display: flex
          justify-content center
          font-weight 600
          .arrow
            position: absolute;
            width: 10%;
            top: 28%;
            right: 14%;
        .lite
          font-family ProximaNova-Thin
    .d1
      &>div:nth-child(1)
        width 37.9%
      &>div:nth-child(2)
        width 62.1%
        .btn
          width 24%;
    .d2
      &>div:nth-child(2)
        width 37.9%
      &>div:nth-child(1)
        width 62.1%
        .btn
          width 24%;
    .d3
      position absolute
      top 0
      width 33.45%
      &>div
        width: 100%;
        .btn
          height: 6%;
          width: 30%;
  .display-t-i-f
    .title
      color #888b8d
    .d1, .d2, .d3
      .shadow::after
        content none
      &>div
        &>span
          color #5c5b5b
        .btn
          background-color #5c5b5b
  


  .display-t-i-hl
    .title
      color #f26b6b
      font-weight 600
    .d1, .d2, .d3
      &>div
        &>span
          color #fff
        .btn
          background-color #f26b6b

.leftArrow
  width 45px
  position: absolute;
  z-index: 9;
  top: 32%;
  left: -20px;
  opacity: 0.6;
.rightArrow
  width 45px
  position: absolute;
  z-index: 9;
  top: 32%;
  right: -20px;
  opacity: 0.2;

.d_item:hover .t_n_p {
  display: none !important;
}

.d_item:hover .b_n_c {
  display: flex !important;
}

.slider-elips
  width 100%
  float left
  display inline-block


@media screen and (max-width: 1280px) {
  .home-style-main {
    .ff-t-i {
      .e, .h-a-l {
          display block
          width calc(100% - 40px)
          margin auto
      }
    }
  }
}
