@import './index.styl'


.couponCodeListing
    padding: 7px;
    margin-top: 10px;
    height: 33px;
    left: 10px;
    text-align: center;
    position: relative;
    border: solid 1px listing-border;
    background-color: listing-background-color;


.couponCodeListing:after {
    content: '';
    display: block;
    position: relative;
    left: 8px;
    width: 0;
    border-bottom: 10px solid listing-triangle-color;
    border-left: 10px solid transparent;
    top: 27%;
    transform: rotate(180deg);
}

.couponCodeTerms
    padding: 7px;
    margin-top: 10px;
    height: 33px;
    left: 30px;
    text-align: center;
    position: relative;
    border: solid 1px listing-border;
    background-color: listing-background-color;


.couponCodeTerms:after {
    content: '';
    display: block;
    position: relative;
    left: 8px;
    width: 0;
    border-bottom: 10px solid listing-triangle-color;
    border-left: 10px solid transparent;
    top: 27%;
    transform: rotate(180deg);
}

.couponCodeCartTerms
    padding: 7px;
    margin-top: 10px;
    height: 33px;
    left: 0px;
    text-align: center;
    position: relative;
    border: solid 1px listing-border;
    background-color: listing-background-color;


.couponCodeCartTerms:after {
    content: '';
    display: block;
    position: relative;
    left: 8px;
    width: 0;
    border-bottom: 10px solid listing-triangle-color;
    border-left: 10px solid transparent;
    top: 27%;
    transform: rotate(180deg);
}

.border
  border-right 1px dotted
  margin-right 15px

.couponMargin
    margin 2%
    margin-left 4%
.input
    width 350px !important
    height 60px !important
    border 0 !important
    padding-right 58% !important
