@import '../../../../layout/main/executables.styl';

.applyCoupon {
    width: 100%;
    overflow: auto;
    align-items: center;
      .couponDiv {
        border: solid 0.9px border-color;
        min-height 170px;
        width: 340px;
        margin-top: 30px;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
}
  
.listingColor
    border: solid 1px listing-border;
    background-color: listing-background-color;

.categoryColor
   border: solid 1.3px category-border;
   background-color: popup-header;

.bankColor
   border: solid 1.3px bank-border;
   background-color: bank-background-color;

.modalClassName
   position absolute
   top 10%

.applied 
   color: generic-green-color;
   
.buttonStyle
   left: 55%;
   bottom: 0%;
   height: 68%;
   position: absolute;
   border: 1px solid thick-blue;
   border-radius: 5px;

.wordBreak
   word-break: break-all;

.apply-btn
    color #000
    border 1px solid #c8c7cc
    padding 6px 20px
    background-color #fff
    border-radius: 5px;

.copy-btn
    color: navy-blue;
    border: 1px solid navy-blue;
    padding: 6px 20px;
    background-color: #fff;
    border-radius: 5px;


.coupon-result
    height 400px
  .coupon-img
       width 135px
       height 140px
.loader-div
    width 50px
    height 50px
    z-index 14
  .loader-styl
    svg
      animation rotate 1.4s linear infinite;
      -webkit-animation rotate 1.4s linear infinite;
      -moz-animation rotate 1.4s linear infinite;
      @keyframes rotate {
        to {
          transform rotate(360deg);
        }
      }

      @-webkit-keyframes rotate {
        to {
          -webkit-transform rotate(360deg);
        }
      }

      @-moz-keyframes rotate {
        to {
          transform rotate(360deg);
        }
      }