@import '../../layout/main/executables.styl';

$shipment-wrap-border-color = #D8D8D8
.orders-container
  display block
  margin-left 10px
  margin-top -(px-20)

.order-item-wrap
  background white

.product-item
  display flex
  .prod-sub-content
    .prod-sub-content-inn
      display block
      .promo-code-label
        float: left;
        width: 70%;
      .coupon-code
        color generic-green-color
        border 1px dotted generic-green-color
        padding 5px 10px
        float left

.shipment-wrap
  border 1px solid $shipment-wrap-border-color
  border-radius 6px
  .products-wrap
    display table
    width 100%
    .product-item
      .img-wrap, .text-wrap
        position relative

      .img-wrap
        height 100px

        .order-item-img
          object-fit scale-down
          max-width 100%
          max-height 100%

  .widget-wrap
    clear both
    padding-top 20px

.share-cont
  .share-icon
    width 14px
    height 15px

.addres-dtls
  .pin-map-icon
    width 20px
