@import '../../layout/main/executables.styl'

$shipment-wrap-border-color = #D8D8D8
.orders-container
  display block
  margin-left 10px
  margin-top -(px-20)

.order-item-wrap
  background white

.cancel-btn
  .link-text
    padding 10px 15px

.product-item
  .prod-sub-content
    .prod-sub-content-inn
      display block
      .promo-code-label
        float left
        width 70%
      .coupon-code
        color generic-green-color
        border 1px dotted generic-green-color
        padding 5px 10px
        float left

.shipment-wrap
  border 1px solid light-brdr
  border-radius 4px
  .products-wrap
    .product-item
      .img-wrap, .text-wrap
        position relative

      .img-wrap
        height 100px

        .order-item-img
          object-fit scale-down
          max-width 100%
          max-height 100%
          display: block;
          margin: 0 auto;
          overflow: hidden;

  .widget-wrap
    clear both

.share-cont
  .share-icon
    width 14px
    height 15px

.card-number
  direction ltr
.order-conf-part
  box-shadow 0 0 35px 0 rgba(0, 0, 0, 0.06)

.addres-dtls
  box-shadow 0 0 35px 0 rgba(0, 0, 0, 0.06)
  .pin-map-icon
    width 20px

.green-label
  padding 4px 10px
  font-size 12px
  background listing-background-color
  border 1px solid generic-green-color

.refund-label
    top -11px
    padding 2px 5px
    border-radius 4px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.09)

.ret-exch-wrap
  .breadcrums
    padding 15px 20px
  .ret-exch-cont
    background-color white
    box-shadow 0 0 5px 0 rgba(0, 0, 0, 0.06)
    margin 0 20px
    overflow-x hidden

  .product-wrap
    img
      object-fit scale-down
      width 100%
      max-height 100%;

.ship-icon
  width 80px
  height 25px

.track-img-wrap
  height 90px
  .track-img
    max-width 100%
    max-height 100%
.scroll
  overflow-y scroll
  height 300px
.state-times
  margin 15px
  padding 0px
  &::after
    box-sizing border-box
  li
    display flex
  p
    position relative
    color light-gray-clr
    width 100px
    &::after
      content ""
      position absolute
      z-index 2
      right 0
      top 0
      transform translateX(50%)
      border-radius 50%
      background light-gray
      width 12px
      height 12px
  .activeP
    &::after
      background generic-green-color
  .status
    padding 0 20px 20px 20px
    position relative
    width 90%
    &::before
      content ""
      position absolute
      z-index 1
      left 0
      height 100%
    .events
      .dot
        width 5px
        height 5px
        border-radius 50%
        background generic-green-color
  strong
   display block
   font-weight 600

.success-th
  background green-bg
  border 1px solid generic-green-color

.progress-th
  background light-yellow-color
  border 1px solid yellow-color

.tooltip
  &:hover .rightM15
    display block

.rightM15
  display none