@import '../../../layout/main/executables.styl';

.icon-styl
  width 42px
  height 38px
.success
  border 1.3px solid #101820
.error
  border solid 1.3px #dd1e31
.success-backgrnd
  background-color #101820
.error-backgrnd
  background-color #dd1e31
.p-5
  padding 5px
.u-wdth310
  width 310px
.u_width302
  width 302px
.msg-block
  overflow auto
  .msg-div
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
