@import '../../../layout/common/common.styl'

$shipment-wrap-border-color = #D8D8D8

.order-item-wrap 
  background #fff

.product-item
  display flex

.order-item-img
  height 50px;

.shipment-wrap
  border: 1px solid $shipment-wrap-border-color;
  border-radius: 6px;
  .products-wrap 
    border-right: 1px solid $shipment-wrap-border-color;
    .product-item
      height 70px
      &:only-of-type
      height 140px
      .img-wrap, .text-wrap
        position relative
      .img-wrap
        flex-grow 1
      .text-wrap
        flex-grow: 4