@import '../../../layout/main/executables.styl';
.profile-main-part
  .right-part-cam
    box-shadow 0 0 35px 0 rgba(0, 0, 0, 0.06)

  .deactive-account-lable
    border-top 1px solid rgba(215, 215, 215, 0.3)

  .edit-icon
    width-height-radius(15px, 15px, 0)

  .tickmark-part
    .tickmark-icon
      width-height-radius(16px, 16px, 0)

  .social-media-part
    .social-facebook, .social-google, .social-twitter
      padding 3px
      .social-facebook-inn, .social-google-inn
        padding-left 7px
      .title
        padding: 5px 10px;

      .facebook-icon
        width-height-radius(10px, 18px, 0)
    .social-google
      border 1px solid google-red
      .title
        border-left 1px solid google-red
      .google-icon
        width-height-radius(16px, 16px, 0)

    .social-twitter
      border 1px solid twitter-color
      .title
        border-left 1px solid twitter-color
        letter-spacing 1px
      .social-twitter-inn
        padding-left 3px
        .twitter-icon
          width-height-radius(24px, 24px, 0)

  .notification-main
    .notification-main-inn
      padding 30px 30px 20px 30px
      .notification-icon
        width-height-radius(55px, 48px, 0)
  .notification-label
    text-align justify
    line-height 1.22
  .notfy-footer, .social-media-main
    padding 15px 30px

.editProfileModal
  padding 40px
  max-height 100vh
  overflow auto
  .personal-info-img
    padding 40px 0
    .personal-info-img-icon
      width 90px
  .personal-info-main
    p
      width 60%

  .gender-select-main
    .gender-or
      width 24px
      height 24px
      border-radius 50%
      background popup-header
      color cam-lgt-gray
    a
      display flex
      flex-direction column
      .gender-select-inn
        width 64px
        height 64px

  .update-profile-input
    .user-name
      box-shadow none

  .date-dob-caldr
    input
      border-style solid
      border-width 0 0 1px 0
      border-color suggest-label-gray
      width 100%

  .update-profile-btn
    border-radius 0
    border-bottom-right-radius 20px

  .personal-info-upadate-main
    width 90%

  .dp-flex>div
    flex: 1

  .gender-select>img
    border 1px solid link-highlight

  .gender-select>span
    color link-highlight

  .gender-unselect>img
    border-width 0px

  .gender-unselect>span
    color base-font

.profile-dts
  font-size 12px

.modalContainer
  height 100%
  width 100%
  top 0
  left 0
  .disabled
    height 100%
    width 100%
    position fixed
    top 0
    left 0
    z-index 2000
    background-color grey
    opacity 0.8

.openModal
  height 100%
  width 30%
  position fixed
  top 0
  right -800px
  z-index 2001
  background-color white
  animation-name slideOpen
  animation-duration 0.5s
  animation-fill-mode both

.closeModal
  height 100%
  width 40%
  position fixed
  top 0
  right 0px
  z-index 2001
  background-color white
  animation-name slideClose
  animation-duration 0.2s
  animation-fill-mode both
.phoneInpt
  .show-otp
    opacity 1
    position: absolute;
    right: 0;
    top: 8px;
.loader-div
  width 20px
  position absolute
  z-index 14
  top 170px
  left 202px
  .loader-styl
    width 40px
    height 40px
    svg
      animation rotate 1.4s linear infinite;
      -webkit-animation rotate 1.4s linear infinite;
      -moz-animation rotate 1.4s linear infinite;
      @keyframes rotate {
        to {
          transform rotate(360deg);
        }
      }

      @-webkit-keyframes rotate {
        to {
          -webkit-transform rotate(360deg);
        }
      }

      @-moz-keyframes rotate {
        to {
          transform rotate(360deg);
        }
      }
.request-opt
  .request-opt-inn
    position absolute
    right 0
    top 10px
    font-size 12px
.verify-no-btn
    border-bottom-right-radius 26px
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, 0.08)
    background-color tila-blk
    color white
    padding 10px
    border 0
    width 100%
    text-transform uppercase
.verify-no-btn-disabled
  border-bottom-right-radius 26px
  box-shadow 0 2px 7px 0 rgba(0, 0, 0, 0.08)
  background-color #cccccc
  color white
  padding 10px
  border 0
  width 100%
  cursor not-allowed
  text-transform uppercase
.mobile-tick-icon
  .mobiletick-icon-styl
    width 101px
    height 146px
@keyframes slideOpen {
  from {right: -800px;}
  to {right: 0;}
  }
@keyframes slideClose {
  from {right: 0px;}
  to {right: -800px;}
  }

.showDiv
  display block

.hideDiv
  display none
