  .user-info-container
    height auto
    font-size 12px

.common-sub-container
  height 170px
  font-size 12px

.update-info
  background #e3ebf5
  height 290px
  padding 10px
  border-radius 5px

.user-info-margin
  margin 5px 0px









