@import '../../../layout/main/executables.styl';

.render-view-main
  width 100%
  position relative
  box-shadow 0 2px 18px 0 rgba(0, 0, 0, 0.15)
  background-color #ffffff
  overflow hidden
  background-color #8a8a8f
  height 0
  z-index 10001
  transition height 0.6s
  .quick-view
    background-color #fff
    height 730px
    .prev-styl
      left 0
      top 175px
      z-index 999
      width 45px
      height 77px
    .next-styl
      right 0
      top 175px
      z-index 999
      width 45px
      height 77px
    .close-styl
      z-index 999
      position absolute
      right 26px
      top 21px
      color #484848
.opacity-3
    opacity 0.3
.mr-20
  margin 20px
.fullPage-btn
  position absolute
  bottom 70px
  z-index 999
  color #45689a
  right 190px
.animationClass
  height 780px
