@import '../../../layout/main/executables.styl';

.compare-fixed
  position fixed
  right 0
  top 50%
  z-index 999
  .compare-container
    position relative
    &:hover
      .compare-items
        display block
    .compare-icon-com
      position absolute
      // width 57px
      background tila-blk
      // height 57px
      // border-radius 50%
      right -10px
      z-index 99
      cursor pointer
      padding 8px 12px
      border-bottom-left-radius 14px
      .compare-icon-holder
        display flex
        align-items center
        justify-content center
        color white
      .compare-icon
        width 16px
        height 20px
      .comp-length
        border-radius 15px
        border 1px solid
        display inline-flex
        align-items center
        justify-content center
        height 15px
        width 15px
    .compare-items
      display none
      padding-bottom 0
      border-radius 5px
      background-color white
      position absolute
      bottom -36px
      right 0px
      border-radius 5px
      box-shadow 0 2px 15px 0 rgba(0, 0, 0, 0.16)
      padding 20px
      .item
        width 160px
        // height 200px
        padding 0 10px 
        position relative
        .item-image
          width 140px
          height 150px
          display flex
          justify-content center
          flex-direction column
          .image
            max-height 100%
            max-width 100%
            object-fit contain
            height 100%
        .item-label
          display flex
          width 100%

        .close
          position absolute
          top 0px
          right 5px
          cursor pointer
          display flex
          align-items center
          justify-content center
          width 18px
          height 18px
          border-radius 18px
          width 20px
          height 20px
          border solid 0.4px white
          background-color #c6c6c6
          color white
          span
            padding 5px

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
  .compare-fixed {
    display none
  }
}


